/*
 Name: Smashing HTML5
 Date: July 2009
 Description: Sample layout for HTML5 and CSS3 goodness.
 Version: 1.0
 Author: Enrique Ram�rez
 Autor URI: http://enrique-ramirez.com
 */
/* Imports */@import url("reset.css");
/***** Global *****/
/* Body */
body {
    background: #FFF;
    color: #000305;
    font-size: 87.5%; /* Base font size: 14px */
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
    margin: 0;
    padding: 2em;
    text-align: left;
}

h1 {
    text-indent: -25em;
    background: transparent url(../media/img/logo.png) top left no-repeat;
    width: 295px;
    height: 6em;
}

article header {
    height: 6em;
}

/* Headings */
h2 {
    font-size: 1.571em
}

/* 22px */
h3 {
    font-size: 1.429em
}

/* 20px */
h4 {
    font-size: 1.286em
}

/* 18px */
h5 {
    font-size: 1.143em
}

/* 16px */
h6 {
    font-size: 1em
}

/* 14px */
h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: .8em;
}

/* Anchors */
a {
    outline: 0;
}

a img {
    border: 0px;
    text-decoration: none;
}

a:link, a:visited {
    color: #C74350;
    padding: 0 1px;
    text-decoration: underline;
}

a:hover, a:active {
    background-color: #C74350;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
}

/* Paragraphs */
p {
    margin-bottom: 1.143em;
}
* p:last-child {
    margin-bottom: 0;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

/* test selection */::-moz-selection {
    background: #F6CF74;
    color: #fff;
}::selection {
    background: #F6CF74;
    color: #fff;
}

/* Lists */
ul {
    list-style: outside disc;
    margin: 1em 0 1.5em 1.5em;
}

ol {
    list-style: none;
    margin: 1em;
}

dl {
    margin: 0 0 1.5em 0;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 1.5em;
}

/* Dates */
.published {
    width: 3em;
    height: 3em;
    margin: 0 0 0.75em;
    display: block;
    position: relative;
}

.published::before {
    content: '';
    position: absolute;
    z-index:0;
    background-color: #EEE;
    background-image: -moz-linear-gradient(0% 100% 105deg, #ffffff, #d9d9d9); 
    background-image: -webkit-gradient(linear, 0% 0%, 50% 100%, from(#D9D9D9), to(#FFFFFF));    
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -moz-transform: matrix(1, -0.5, 1, 0.5, 0, 0);
    -webkit-transform: matrix(1, -0.5, 1, 0.5, 0, 0);    
}

.published span, .published::before {
    display: block;
    width: 1.5em;
    height: 1.5em;
}
.published span {
    float: left;
    z-index:1;
    position:relative;
	line-height:1.5em;
	text-align:center;    
}
.day {    
    background: #D4D4D4;
    background: -moz-linear-gradient(top, #D4D4D4, #BBB);
  	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #D4D4D4),color-stop(1, #BBB));
}
.thousand{
    margin-top:-1px;    
	background: #D4D4D4;
	background: -moz-linear-gradient(top, #BBB, #A1A1A1);
  	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #BBB),color-stop(1, #A1A1A1));
}
.month{
	background: #D9D9D9;
	background: -moz-linear-gradient(top, #D9D9D9 #CECECE);
  	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #D9D9D9),color-stop(1, #CECECE));
}
.ten{
    margin-top:-1px;    
	background: #D9D9D9;
	background: -moz-linear-gradient(top, #CECECE, #C4C4C4);
  	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #CECECE),color-stop(1, #C4C4C4));
}
.day,
.thousand{
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;    
    -webkit-transform: matrix(1, 0.5, 0, 1, 0, 0);  
    -moz-transform: matrix(1, 0.5, 0, 1, 0, 0);    
}
.month,
.ten{
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;    
     -webkit-transform: matrix(1, -0.5, 0, 1, 0, 0);
    -moz-transform: matrix(1, -0.5, 0, 1, 0, 0);
    
}
/* Dates */
.old_published {
                    position: relative;
                    width: 8em;
                    height: 10em;
                    display: block;
}

.old_published::after {
                    content: '';
                    display: block;
                    clear: both;
}

.old_published span {
                    width: 4em;
                    height: 4em;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    -webkit-transform-origin: left top;
                    -moz-transform-origin: left top;
                    background-color: #d9d9d9;
                    background-image: -moz-linear-gradient(0% 100% 105deg, #ffffff, #d9d9d9); /* FF3.6 */
  background-image: -webkit-gradient(linear, 0% 0%, 10% 100%, from(#D9D9D9), to(#FFFFFF)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#d9d9d9', EndColorStr='#ffffff'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d9d9d9', EndColorStr='#ffffff')"; /* IE8 */
                    
}

.old_published span + span {
                    height: 8em;
                    background-color: #d4d4d4;
                    background-image: -moz-linear-gradient(top, #d4d4d4, #a1a1a1); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #d4d4d4),color-stop(1, #a1a1a1)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#d4d4d4', EndColorStr='#a1a1a1'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d4d4d4', EndColorStr='#a1a1a1')"; /* IE8 */
}

.old_published span + span + span {
  background-color: #d9d9d9;
  background-image: -moz-linear-gradient(top, #d9d9d9, #c4c4c4); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #d9d9d9),color-stop(1, #c4c4c4)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#d9d9d9', EndColorStr='#c4c4c4'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d9d9d9', EndColorStr='#c4c4c4')"; /* IE8 */
}

.old_published span i {
                    position: absolute;
                    top: -4px;
                    left: -4px;
                    font-size: 0;
                    border: solid 4px blue;
                    border-radius: 4px;
                    -moz-border-radius: 4px;
                    -webkit-border-radius: 4px;
}

.old_published span:nth-child(1){
                    -webkit-transform-origin: left top;    
                    -moz-transform-origin: left top;    
                    /* -webkit-transform: matrix(1, -1, 1,1, 0, 0); /*rotation 45° + taille == diagonale carré (racine de 2)*/   
                    -moz-transform: matrix(1, -0.5, 1,0.5, 0, 0);
                    -webkit-transform: matrix(1, -0.5, 1,0.5, 0, 0);
                      
}
.old_published span:nth-child(2){
    -webkit-transform: matrix(1, 0.5, 0, 1, 0, 0);  
    -moz-transform: matrix(1, 0.5, 0, 1, 0, 0);  
                        
}
.old_published span:nth-child(3){
    top:2em;
    left:4em;
    -webkit-transform: matrix(1, -0.5, 0, 1, 0, 0);
    -moz-transform: matrix(1, -0.5, 0, 1, 0, 0);
                        
}