/*
 based on : Enrique Ramirez work for smashing magazine
 */
/***** Global *****/
/* Body */
body {
    background: #FFF;
    color: #000305;
    font-size: 87.5%; /* Base font size: 14px */
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
    margin: 0;
    padding: 3em 7%;
    text-align: left;
}
h1 a{
	display:block;
	text-indent: -999em;
	background: transparent url(../media/img/logo.png) top left no-repeat;
	display: 100%;
	width: 21.071em;
	height: 6em;
}
h1 a:hover{
	background-color: transparent;
}
/* Headings */
h2 {
    font-size: 1.571em
}
h3 { /* 22px */
    font-size: 1.429em
}
h4 { /* 20px */
    font-size: 1.286em
}
h5 { /* 18px */
    color: #A8005D;
    font-size: 1.143em
}
h6 { /* 16px */
    font-size: 1em
}
/* 14px */
h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: .8em;
}
abbr{
    border:none;
}
/* Anchors */
a {
    outline: 0;
}
a img {
    border: 0px;
    text-decoration: none;
}
a, a:visited {
    color: #A8005D;
    padding: 0 1px;
    text-decoration: none;
}
a:hover, a:active {
    background-color:#A8005D ;
    color: #fff;
    text-decoration:underline ;
}
/* Paragraphs */
p {
    margin-bottom: 1.143em;
}
* p:last-child {
    margin-bottom: 0;
}
strong, b {
   font-weight: bold;
}
em, i {
    font-style: italic;
}
/* test selection */::-moz-selection {
    background: #F6CF74;
    color: #fff;
}::selection {
    background: #F6CF74;
    color: #fff;
}
/* Lists */
ul {
	list-style: none;
	margin: 1em 0 1.5em 1.5em;
}
ul li::before{
	content :'â—';
	display: inline-block;
	width: 1.5em;
	text-align: center;
	margin-left: -1.5em;
	position:relative;
	color : #A8005D;
}
dl {
    margin: 0 0 1.5em 0;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 1.5em;
}
section::after{
	content : '';
	display:block;
	clear:both;
}
h5{
    font-family: 'Nobile', arial, serif;
}
/**********
    Utils
**********/
/*__________________ Wallpaper */
.patternBox{
	text-align: center;
	padding: 1em 0;
	margin : 0;
	background: transparent url(../media/layout/texture.jpg);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow:inset 0 2px 10px #000000;
	-webkit-box-shadow:inset 0 2px 10px #000000;
	box-shadow:inset 0 2px 10px #000000;
}
/*__________________ left-right positionning */
.demoBlock{
	float: right;
	width: 50%;
	text-align: center;
}
.demoBlock + div{
	float:left;
	width: 50%;
}
.demoBlock + div > *{
	margin-right:1em;
}
.demoBlock + div +div{
	clear:both;
}
/*__________________ button */
.button,
.button:visited{
	display: inline-block;
	padding: 0.75em 2em;
	background-color:#A8005D;
	color: #FFF;
	-moz-transition: all 0.3s ease-out;  /* FF3.7+ */
	-o-transition: all 0.3s ease-out;  /* Opera 10.5 */
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
	transition: all 0.3s ease-out;
}
.button:hover{
	text-decoration:none;
	background-color:#FF008E;
}
.button:active{
	padding: 1em 2em 0.5em;
	color:#CCC;
	background-color:#A8005D;
	-o-transform: matrix(1, -0.05, 0, 1, 0, 0);
	-moz-transform: matrix(1, -0.05, 0, 1, 0, 0);
	-webkit-transform: matrix(1, -0.05, 0, 1, 0, 0);
}
/**********
    Home
**********/
article{
    position: relative;
    margin:1em;
    padding: 0 0 2em;
}
article::after{
    content: '';
    display: block;
    clear:both;
}
article header {
    margin-left: 5em;
    display: block;
}
.entry-title{
    font-family: 'Nobile', arial, serif;
}
article ol{
    padding-left: 1em;
}
article ol li{
    counter-increment : index;
}
article ol li::before{
    content : counter(index)'. ';
    color: #A8005D;
}
article footer{
    position: absolute;
    top:0;
    left: 0;
}
article .entry-content{
    margin-left: 5em;
}
article{
    text-align: justify;
}
@media screen and (min-width: 960px)
{
    .longText{
		column-count: 2;
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-gap: 2em;
		-moz-column-gap: 2em;
		-webkit-column-gap: 2em;
	}
}
/* Dates */
/* 1px overlap to hide the bad antialias due to transform + gradient*/
.published {
	font-size:1.5em;
    top: 0.75em;
    width: 3em;
    height: 3em;
    margin: 0 0 1.5em;
    display: block;
    position: relative;
}
.published::before,
.published::after {
    content: '';
    position: absolute;
    z-index:0;
    -o-transform-origin: left top;
    -moz-transform-origin: left top;
    -webkit-transform-origin: left top;
    -o-transform: matrix(1, -0.5, 1, 0.5, 0, 0);
    -moz-transform: matrix(1, -0.5, 1, 0.5, 0, 0);
    -webkit-transform: matrix(1, -0.5, 1, 0.5, 0, 0);
}
.published span,
.published::before,
.published::after {
	display: block;
	width: 50%; /* canno't put em here -> Opera has issue with it */ 
	height: 1.5em;
}
.published::before{
	top:1px;
	background-color: #EEE;
	background-image: -moz-linear-gradient(0% 100% 105deg, #FFFFFF, #d9d9d9);
	background-image: -webkit-gradient(linear, 0% 0%, 50% 100%, from(#D9D9D9), to(#FFFFFF));
}
.published::after{
    bottom: -0.75em;
    left :-1.5em;
	background-color: #EEE;
    background-image: -moz-linear-gradient(0% 100% 90deg, #D9D9D9, #FFFFFF);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#D9D9D9));
}
.published span {
	float: left;
	z-index:1;
	position:relative;
	line-height:1.5em;
	text-align:center;
}
.day {
    top:1px; /*needed to hide the bad antialias due to transform + gradient*/
    background: #B9B9B9;
    background: -moz-linear-gradient(top, #D4D4D4, #BBB);
  	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #D4D4D4),color-stop(1, #BBB));
}
.thousand{
	background: #B9B9B9;
	background: -moz-linear-gradient(top, #BBB, #A1A1A1);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #BBB),color-stop(1, #A1A1A1));
}
.month{
	top:1px;
	background: #D9D9D9;
	background: -moz-linear-gradient(top, #D9D9D9 #CECECE);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #D9D9D9),color-stop(1, #CECECE));
}
.ten{
	/*margin-top:-1px;*/
	background: #D9D9D9;
	background: -moz-linear-gradient(top, #CECECE, #C4C4C4);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #CECECE),color-stop(1, #C4C4C4));
}
.day,
.thousand{
	-o-transform-origin: left top;
	-moz-transform-origin: left top;
	-webkit-transform-origin: left top;
	-o-transform: matrix(1, 0.5, 0, 1, 0, 0);
	-moz-transform: matrix(1, 0.5, 0, 1, 0, 0);
	-webkit-transform: matrix(1, 0.5, 0, 1, 0, 0);
}
.month,
.ten{
	-o-transform-origin: right top;
	-moz-transform-origin: right top;
	-webkit-transform-origin: right top;
	-o-transform: matrix(1, -0.5, 0, 1, 0, 0);
	-moz-transform: matrix(1, -0.5, 0, 1, 0, 0);
	-webkit-transform: matrix(1, -0.5, 0, 1, 0, 0);
}
/**********
    gauge with legend
**********/
.gaugeContainer dl{
	display:inline-block;
	position: relative;
	margin: 0 0.5em;
}
.gaugeContainer dt{
	font-weight: bold;
	text-shadow: 0 0 3px #FFF;
}
.gaugePercent{
	background: rgba(255,255,255,0.8);
	border-radius: 0 0 10px 10px ;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	font-weight:bold;
	color: #000;
}
.gaugeBar,
.gaugePercent,
.gaugeValue{
	display:block;
	width:3em;
	margin: 0 auto;	
	position:relative;	
}
.gaugeValue{
	overflow:hidden;
	height: 7.146em;
	background: rgba(0,0,0,0.2);
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-box-shadow:inset 0px 0px 4px #000000; 
	-webkit-box-shadow:inset 0px 0px 4px #000000; 
	box-shadow:inset 0px 0px 4px #000000; 
}
.gaugeBar{
	height:100%;
	background: #FC0C8A;
    border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
}
