// —————————————————
// @media Big Mobile
// —————————————————
media-big-mobile()

.hw-services h6
  // font-size 1.25em
  letter-spacing 0em

.hw-services-item
  &:nth-child(2n + 1),
  &:nth-child(2n)
    .hw-sub-left
      transform rotateY(90deg)
      transform-origin 100% 50%

    .hw-sub-right
      transform-origin 0% 50%
      transform rotateY(-90deg)

.hw-services-item,
.hw-services-item.{activeClass},
.hw-services-item:target
  width 50%

  // cover don't change on this size
  &:nth-child(2n + 1)
    perspective 10000px
    perspective-origin center right

    .hw-services-cover
      iso-left()
      background white

      .hicon
        iso-right()

  &:nth-child(2n)
    perspective 10000px
    perspective-origin center left

    .hw-services-cover
      iso-right()
      background $grey

      .hicon
        iso-left()

  &:nth-child(2n + 1),
  &:nth-child(2n)
    .hw-services-cover
      color $black
      transition none

    .hw-sub-right
      background $dark-grey

    .hicon
      color $pink
      font-size 6em

.hw-services-item.{activeClass},
.hw-services-item:target
  height px2em($panel-height)
  top 0
  margin-bottom 0

  &:nth-child(1n)
    .hw-services-cover
      top 0

    .hw-sub-left, .hw-sub-right
      height px2em($panel-height*1.5)
      transform rotateY(0deg)
      z-index 3

    .hw-sub-left, .hw-sub-right, .hw-sub-close
      top -1 * (px2em($panel-height) * 0.25)

  &:nth-child(2n + 1)
    .hw-services-cover, .hw-sub-left
      left 0
    .hw-sub-right
      left 100%
    .hw-sub-close
      left 200%

  &:nth-child(2n)
    .hw-sub-left
      left -100%
    .hw-sub-right
      left 0
    .hw-sub-close
      left 100%

media-query-end()

// ———————————————————
// @media Small Mobile
// ———————————————————
media-small-mobile()

.hw-services-item,
.hw-services-item.{activeClass},
.hw-services-item:target
  width 100%

  .hw-sub.hw-services-cover,
  .hw-sub.hw-services-cover .hicon
    iso-reset()

.hw-services-title p
    margin 0

.hw-services .hw-services-title
  padding 0

$$height = px2em($mobile-cover-height)

.hw-services-item:nth-child(1n)
  height $$height
  position relative
  perspective-origin center center

  .hw-services-cover
    background white
    box-shadow inset 0 1px 0 0 noir(.1)

  .hw-sub-panel
    font-size 1em

  h3, h3 + h3, p
    margin 0

  .hw-services-cover,
  .hw-sub-left,
  .hw-sub-right
    absolute top left
    height $$height
    width 100%

  .hw-services-cover .hicon
    opacity 1

  .hw-sub-left,
  .hw-services-cover
    transform-origin center center

  .hw-sub-right
    transform rotateX(90deg)
    transform-origin top center

  // description in services
  .hw-services & h6
    font-size 2em
    letter-spacing 0.15em

  .hw-services & h6,
  .hw-services-cover img
    transform scaleY(1) translateY(0)

  .hw-sub-links
    padding-top .75em

    .hw-sub-panel
      padding-top 0
    a
      margin .25em 0 .5em

  // description in work
  .hw-sub-description-points
    flex-row()
    width 100%

  .hw-sub-description-group
    flex 1

.hw-services-item.{activeClass}:nth-child(1n),
.hw-services-item:target:nth-child(1n)
  z-index 2

  .hw-sub-left
    top 0

  .hw-sub-left,
  .hw-sub-right
    z-index 10
    left 0
    transform rotateX(0)

  .hw-sub-close
    top .5em
    left 100%
    z-index 10

  .hw-sub-left
    height $$height

  .hw-sub-right
    top $$height
    height $$height

.hw-services-item:target:nth-child(1n)
  .hw-sub-left,
  .hw-sub-right
    show()
    transform rotateX(0)

  .hw-sub-close
    show()

media-query-end()
