// Transform break position static
// Problematic in mobile responsive design
.hw-services
  transform translateZ(0)

.hw-sub-panel
  transform translate3d(0,0,0)

.hw-services-item

  .hicon
    iso-right()

  .hw-sub-close
    opacity 0

  .hw-sub
    hide()

  .hw-services-cover
    show()

  &:nth-child(3n+1),
  &:nth-child(3n+3)
    .hw-services-cover
      iso-left()

  &:nth-child(3n+2)
    .hw-services-cover
      iso-right()

    .hicon
      iso-left()

  &:nth-child(3n+2),
  &:nth-child(3n+3)
    .hw-sub-left
      left -100% // Reposition panel for scroll issues on firefox
      transform rotateY(98.75deg)
      // 1% difference is for nice edge aliasis
      transform-origin 101% 50%

  &:nth-child(3n+1),
  &:nth-child(3n+2)
    .hw-sub-right
      left 100% // Reposition panel for scroll issues on firefox
      // 1% difference is for nice edge aliasis
      transform-origin -1% 50%
      transform rotateY(-98.75deg)

.hw-services-item:target
  height px2em($panel-height*1.5)
  top  -1 * (px2em($panel-height) * 0.25)
  margin-bottom @top * 2
  z-index 10

  .hw-services-cover
    color white
    background $dark-grey

  .hicon
    iso-reset()
    font-size 12em
    color $darkest-grey

  .hw-sub-close
    opacity 1

  .hw-sub
    show()
    transform rotateY(0)

for num in 1 2 3
  // active positioning
  .hw-services-item.{activeClass}:nth-child(3n+{num}),
  .hw-services-item:target:nth-child(3n+{num})
    .hw-sub-close
      left unit((4 - num) * 100, '%')

    .hw-sub-left
      left unit((1 - num) * 100, '%')

    .hw-sub-right
      left unit((3 - num) * 100, '%')

  .hw-services-item:target:nth-child(3n+{num})
    .hw-services-cover
      left unit((2 - num) * 100, '%')
