@import 'hstrap/mixins/form-elements'
@import 'hstrap/mixins/buttons'
@import 'hstrap/mixins/box'

label
  h-label()
  font-weight bold
  height 0
  visibility hidden

input, textarea
  h-input()

textarea
  h-textarea()

.hw-contact
  aside
    padding-top 1em
    font-size px2em(18)
    line-height 1.5em

  .hw-contact-form
    box-sizing border-box

  button
    h-btn()
    min-width 10em
    h-btn-color($h-buttons-light, $h-buttons-medium, $h-buttons-dark)
    margin-top 1em
    border 0

    + button
      margin-left 1em

  .hw-submit
    h-btn-color($buttons-primary-light, $buttons-primary-medium, $buttons-primary-dark)
    border 0


  .hw-message-success,
  .hw-message-error
    overflow hidden
    margin 0
    box-sizing border-box
    cursor pointer
    animation fadeIn 1s
    animation-delay .25s
    animation-fill-mode both

    &.remove
      animation fadeOut 1s
      animation-delay 0s

  .hw-message-success
    h-box-inset(darken($dark-blue, 25%), $dark-blue)

  .hw-message-error
    h-box-inset(darken($dark-pink, 25%), $dark-pink)

@keyframes fadeIn {
  from {
    opacity: 0
    padding-top: 0
    padding-bottom: 0
    margin-bottom: 0
    max-height: 0
  }
  to {
    opacity: 1
    padding-top: $h-gutter
    padding-bottom: $h-gutter
    margin-bottom: .5em
    max-height: 68px
  }
}

@keyframes fadeOut {
  from {
    opacity: 1
    padding-top: $h-gutter
    padding-bottom: $h-gutter
    margin-bottom: .5em
    max-height: 68px
  }
  to {
    opacity: 0
    max-height: 0
    padding-top: 0
    padding-bottom: 0
    margin-bottom: 0
  }
}
// —————————————
// @media tablet
// —————————————
media-tablet()
.hw-contact
  aside, .hw-contact-form
    float none
    min-height 0
    margin 0 auto
    width auto
    padding 0 1em

  aside
    background none
    margin-top .5em

    p
     line-height normal
     padding 1em 0 0; margin 0

    span
      display inline
media-query-end()
// ———————————————————
// @media Small Mobile
// ———————————————————
media-small-mobile()

.hw-contact
  aside p
    line-height 1em
    padding-top 0

  .hw-submit
    width 100%

  .hw-reset
    display none

media-query-end()
