@import 'nib/clearfix'
@import 'nib/vendor'
@import 'hstrap/mixins/form-elements'
@import 'hstrap/mixins/buttons'
@import 'hstrap/mixins/box'
@import './css-mixins'

label
  h-label()
  font-weight bold
  height 0
  visibility hidden

input, textarea
  h-input()

textarea
  h-textarea()

.hw-contact
  margin-top 2em
  clearfix()

  aside, form
    float left
    min-height 3em
    width third()

  aside
    iso-left()
    background $pink
    min-height px2em(235)
    margin-top px2em(95)

    p
      font-size px2em(18)
      line-height 2em
      padding 1em

  .hw-contact-form
    box-sizing border-box
    width third(2)
    padding-left 1em

  button
    h-btn()
    min-width 10em
    h-btn-color($h-buttons-light, $h-buttons-medium, $h-buttons-dark)
    margin-top 1em

    + button
      margin-left 1em

  .hw-submit
    h-btn-color($h-buttons-primary-light, $h-buttons-primary-medium, $h-buttons-primary-dark)

  .hw-message-success,
  .hw-message-error
    overflow hidden
    margin 0
    box-sizing border-box
    cursor pointer
    animation fadeIn 1s
    animation-delay .25s
    animation-fill-mode both

    &.remove
      animation fadeOut 1s
      animation-delay 0

  .hw-message-success
    h-box-inset(darken($dark-blue, 25%), $dark-blue)

  .hw-message-error
    h-box-inset(darken($dark-pink, 25%), $dark-pink)

@keyframes fadeIn {
  from {
    opacity: 0
    padding-top: 0
    padding-bottom: 0
    margin-bottom: 0
    max-height: 0
  }
  to {
    opacity: 1
    padding-top: $h-gutter
    padding-bottom: $h-gutter
    margin-bottom: .5em
    max-height: 68px
  }
}

@keyframes fadeOut {
  from {
    opacity: 1
    padding-top: $h-gutter
    padding-bottom: $h-gutter
    margin-bottom: .5em
    max-height: 68px
  }
  to {
    opacity: 0
    max-height: 0
    padding-top: 0
    padding-bottom: 0
    margin-bottom: 0
  }
}
