// Here I can config all the things I want

$debug        = true

$pink         = #ff0078
$dark-pink    = #7a0037


$light-blue   = #2db6e9
$blue         = #009ae1
$dark-blue    = #008edc

$gray         = #33323b
$dark-gray    = #232429

$main-border  = 30

$panel-height = 312

// $buttons-depth          = 4px
// $components-background  = #EEE
// $input-invalid-color    = red
// $input-focus            = red