// Here I can config all the things I want

$light-pink   = #ff4b95
$pink         = rgb(237, 0, 128)
$dark-pink    = rgb(110, 0, 59)

// $buttons-depth          = 4px
// $components-background  = #EEE
// $input-invalid-color    = red
// $input-focus            = red