@import 'nib'
@import './css-config'
@import '../../../node_modules/hstrap/lib/hstrap/mixins'

html, body
  reset-box-model()
  // font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-family "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  background $dark-pink
  color white
