html, body, ul, dt, dl, dd
  reset-box-model()

html, body
  font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight 300

html
  background-color $light-grey
  // background-image linear-gradient(white 90px, $light-grey 455px)
  background-repeat no-repeat
  height 100%

body
  min-height 100%
  box-sizing border-box
  border px2em($main-border) solid white
  border-top 0

  background-repeat no-repeat
  color $black

  &.{activeBody}
    overflow hidden

// Single project page
.projects-page,
.projects-page body
  border none
  background white

a
  text-decoration none
  outline none
  color $blue
  transition color .5s

  &:hover
    color $light-blue

.main-content
  // Padding bottom is for giving space to iso-transform
  padding 0 0 7em

.hw-main-navigation,
.hw-splash,
.hw-detail-panels,
.hw-contact
  width px2em($desktop-width)
  margin 0 auto

.hw-title
  font-size 3em; font-weight normal
  font-family "hiso-dark", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  crisp-font-smoothing()
  display inline-block
  width 50%; padding-bottom .15em
  iso-left()

  span
    display inline-block
    iso-right()
    position relative
    z-index 2
    line-height 100%

    &::after
      line-height 100%
      absolute left bottom 1px
      height 1em
      z-index -1
      content attr(data-text)
      color white
      font-family "hiso-plain", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
      crisp-font-smoothing()

.hw-hiso-left
  iso-left()

.hw-hiso-right
  iso-right()

// Don't play animation on page OnLoad
// http://css-tricks.com/transitions-only-after-page-load/
.preload *,
.prevent-transition *
  transition: none !important

.hicon
  font-weight normal; font-style: normal;

.svgicon
  width 36px
  height 24px
  fill $grey

  &:hover
    fill $dark-grey

  &:active
    fill $blue

.svgicon-mail
  fill $pink

  &:hover
    fill $light-pink

  &:active
    fill $blue

// —————————————
// @media Tablet
// —————————————
media-tablet()

body
  border 0

.hw-main-navigation,
.hw-splash
  width auto
  padding 0 1em

.hw-detail-panels,
.hw-contact
  width auto
  padding 0

media-query-end()
