@import 'nib/reset'
@import './css-config'
@import './css-mixins'

html, body, ul, dt, dl, dd
  reset-box-model()

html, body
  font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

html
  background white
  box-sizing border-box
  height 100%
  padding px2em($main-border)

body
  min-height 100%
  background: darken($pink, 15%);
  background-image -moz-radial-gradient(circle at 25% 25%,  $pink 0%, $dark-pink 75%)
  background-image -webkit-radial-gradient(circle at 25% 25%,  $pink 0%, $dark-pink 75%)
  background-image -o-radial-gradient(circle at 25% 25%,  $pink 0%, $dark-pink 75%)
  background-image -ms-radial-gradient(circle at 25% 25%,  $pink 0%, $dark-pink 75%)
  background-image radial-gradient(circle at 25% 25%,  $pink 0%, $dark-pink 75%)
  color white

a
  text-decoration none
  color white
  outline none

.main-content
  width px2em(930)
  margin 0 auto
  padding 1px 0 7em
  position relative

.hw-title
  font-size 3em; font-weight normal
  font-family "hiso-bright", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  crisp-font-smoothing()
  display inline-block
  width 50%; padding-bottom .15em
  iso-left()


  span
    display inline-block
    iso-right()

.hicon
  font-weight normal; font-style: normal;

.hw-hiso-left
  iso-left()

.hw-hiso-right
  iso-right()
