@import 'nib/positions'
@import 'nib/vendor'
@import './css-config'
@import './css-mixins'


.hw-main-title
  absolute top -.5em left
  iso-left()
  font-family "hiso-dark", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  color black
  font-size 4em; font-weight normal
  z-index 3

  span
    color black
    display inline-block
    iso-right()
    position relative
    z-index 2
    transition color .5s

    &::after
      absolute bottom left
      z-index -1
      content attr(data-text)
      color white
      font-family "hiso-plain", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
      crisp-font-smoothing()

  a:hover span
    color darken($dark-blue, 50%)

.hw-main-navigation
  absolute top px2em(-($main-border)) right
  z-index 3
  overflow hidden
  width 33.3333333%
  padding-bottom 3em
  text-align right

  ul, li
    reset-box-model()

  ul
    margin-top -2em

  li:nth-child(1), li:nth-child(2)
    display none

  a
    transition box-shadow $hover-transition
    display block
    text-align center
    padding 4em 0 1em

    &:hover
      box-shadow inset 0 0 0 px2em($hover-width) $hover-color
