@import 'nib/vendor'
@import './css-config'
@import './css-mixins'

.pages
  white-space nowrap

  > *
    white-space normal
    display inline-block
    box-sizing border-box
    width third()
    vertical-align top
    // transition transform .5s, -webkit-transform .5s
    position relative

    .hicon
      display inline-block

  > :nth-child(3n + 1),
  > :nth-child(3n + 3)
    background $pink
    iso-left()

    .hicon
      iso-right()
      color $dark-pink

  > :nth-child(3n + 2)
    background $dark-pink
    iso-right()

    .hicon
      iso-left()
      color $pink

  // services and work
  > {activeClass} dt,
  > {activeClass} dd
    width third()
    height 100%
    float left
    display block

  > {activeClass} > :nth-child(3n + 1)
  > {activeClass} > :nth-child(3n + 3)
      background $dark-gray

  > {activeClass} > :nth-child(3n + 2)
    background $gray

  // active
  > {activeClass},
  > {activeClass} .hicon
    iso-reset()
    z-index 2
    width 100%

  > {activeClass}
    height 468px
    top -78px
    margin-bottom -158px

  > {activeClass} .hicon.website
    mirror-vertical()

  // fix position
  > {activeClass}:nth-child(3n + 1)
    margin-right -(third(2))

  > {activeClass}:nth-child(3n + 2)
    left -(third())
    margin-right -(third(2))

  > {activeClass}:nth-child(3n + 3)
    left -(third(2))

