@import 'nib/vendor'
@import './css-config'
@import './css-mixins'

.pages
  white-space nowrap
  > *
    white-space normal
    display inline-block
    box-sizing border-box
    width third()
    vertical-align top
    // transition transform .5s, -webkit-transform .5s
    position relative

    .hicon
      display inline-block

  > :nth-child(3n + 1),
  > :nth-child(3n + 3)
    background $pink
    iso-left()

    .hicon
      iso-right()
      color $dark-pink

  > :nth-child(3n + 2)
    background $dark-pink
    iso-right()

    .hicon
      iso-left()
      color $pink

  > {activeClass},
  > {activeClass} .hicon
    iso-reset()
    z-index 2

  > {activeClass}
    height 468px
    top -78px
    margin-bottom -158px

  > {activeClass} .hicon.website
    mirror-vertical()
