@import 'nib/vendor'
@import './css-config'
@import './css-mixins'

$panel-fs = 24

.panels
  white-space nowrap

  > *
    white-space normal
    display inline-block
    box-sizing border-box
    width third()
    vertical-align top
    // transition transform .5s, -webkit-transform .5s
    position relative

    .hicon
      display inline-block

  > :nth-child(3n + 1),
  > :nth-child(3n + 3)
    background $pink
    iso-left()

    .hicon
      iso-right()
      color $dark-pink

  > :nth-child(3n + 2)
    background $dark-pink
    iso-right()

    .hicon
      iso-left()
      color $pink




  // services and work
  .{activeClass}
    a
      color $dark-blue

      &:hover
        color $light-blue

    .hicon
      font-size 12em


  .{activeClass} dt,
  .{activeClass} dd
    width third()
    height 100%
    float left
    display block
    box-sizing border-box

  .{activeClass} > :nth-child(3n + 1)
  .{activeClass} > :nth-child(3n + 3)
    background $dark-gray

    .hicon
      color $gray

  .{activeClass} > :nth-child(3n + 2)
    background $gray

    .hicon
      color $dark-gray

  // active
  .{activeClass},
  .{activeClass} .hicon
    iso-reset()
    z-index 2
    width 100%

  .{activeClass}
    height 468px
    top -78px
    margin-bottom -158px

  .{activeClass} .hicon.website
    mirror-vertical()

  // fix position
  .{activeClass}:nth-child(3n + 1)
    margin-right -(third(2))

  .{activeClass}:nth-child(3n + 2)
    left -(third())
    margin-right -(third(2))

  .{activeClass}:nth-child(3n + 3)
    left -(third(2))
    margin-right -(third(3))


// Panels styles

.hw-panel-image,
.hw-panel-description,
.hw-panel-links
  display none

.hw-panel-description,
.hw-panel-links
  font-size px2em($panel-fs)
  padding px2em(66, $panel-fs) px2em(20, $panel-fs) 0

.hw-panel-description
  line-height 1.5em
  ul, li
    list-style none
    reset-box-model()

.hw-panel-links
  text-align center
  a
    font-size 1.25em
    padding 1em 0 1.25em
    display block
    text-transform uppercase

.hw-panel-image
  height px2em($panel-height)
  overflow hidden
  v-align()
  text-align center

  img
    max-width 100%

// debug
if debug()
  .hw-work, .hw-services
    .panels
      > :nth-child(3n + 1)
        outline 2px dotted yellow

      > :nth-child(3n + 2)
        outline 2px dotted blue

      > :nth-child(3n + 3)
        outline 2px dotted white
