@import 'nib/reset'
@import './css-config'
@import './css-mixins'

$panel-fs = 24

.hw-services
  .hw-services-title
    height px2em($panel-height)
    box-sizing border-box
    padding 3em
    text-align center
    cursor pointer
    v-align()

  h6
    font-size 2.5em; text-transform uppercase
    letter-spacing .25em
    font-weight normal
    margin 0

  .hicon
    font-size 6em
    line-height 1em

  .hicon.website
    t-matrix(-1, 0.5, 0, 1)

  dd
    display none

.hw-services-description,
.hw-services-links
  font-size px2em($panel-fs)
  padding px2em(66, $panel-fs) px2em(20, $panel-fs) 0

.hw-services-description
  ul, li
    list-style none
    reset-box-model()

.hw-services-links
  text-align center
  a
    font-size 1.25em
    padding-top 1em
    display block
    text-transform uppercase
