@import 'nib/vendor'
@import './css-config'
@import './css-mixins'

.hw-splash
  padding-top 4em
  position relative

  h2
    font-weight normal
    font-size 2.5em
    text-align center
    color black
    margin-bottom 1.5em

  h2,
  .hw-splah-description
    padding-left third()

  .hw-splah-description
    position relative

  p, .hw-hire
    box-sizing border-box
    display inline-block
    font-size px2em(18)

  p
    vertical-align top
    width 50%; height px2em(200, 18)
    line-height 2em; letter-spacing .1em
    iso-right()
    background $dark-pink
    padding 1em 1em 3em

  p + p,
  .hw-hire
    iso-left()
    background $pink

  .hw-hire
    $hw-hire-depth = .5em

    width 45%; padding 1em; margin-top -2.75em
    background $dark-blue
    float right
    position relative
    text-align center; font-weight bold
    transition background .5s

    &:hover
      background $light-blue

    &:before, &:after
      content ' '; display block
      position absolute

    // left
    &:before
      left -($hw-hire-depth); top 0; bottom 0
      width $hw-hire-depth
      background $blue
      transform-origin top right
      t-matrix(1, 1, 0, 1)

    // top
    &:after
      top -($hw-hire-depth); left 0; right 0
      height $hw-hire-depth
      background $light-blue
      transform-origin bottom left
      t-matrix(1, 0, 1, 1)

.hw-portrait
  width third()
  absolute bottom px2em(-62) left

  object
    width 100%; height px2em(516px)
