.hw-main-title
  font-dark()
  background white
  color $black
  font-size 3em; font-weight normal
  text-align center
  margin 0
  padding .5em 0

  a
    display inline-block
    color $pink
    crisp-font-smoothing()
    line-height 1em
    padding 0 0 .15em .15em
    border 2px solid transparent

    &:hover
      border-color $pink

    &:active
      color $blue
      border-color $blue

.hw-main-navigation
  position relative

  ul, li
    reset-box-model()

  ul
    absolute top 1em right
    overflow hidden
    text-align right

  li
    display inline-block

  a
    font-size 1.25em
    display block
    text-align center
    color $black
    text-transform uppercase
    letter-spacing 0.1em

    &:hover
      color $blue

.hw-splash
  position relative
  z-index 1

  h2
    font-weight normal
    font-size 2.5em
    text-align center
    color $black
    margin 1em 0

    strong
      font-weight 300

  .hw-splah-description
    position relative

  p
    box-sizing border-box
    display inline-block
    font-size px2em(21)
    vertical-align top
    width 50%; height 3em
    padding 0 1em
    padding-left 0
    line-height 1.25em

    + p
      padding-right 0

// —————————————
// @media tablet
// —————————————

media-tablet()

.main-content
  width auto

.hw-title
  font-size 2.25em
  relative top -.25em

// Header
.hw-main-title
  right 0
  text-align center

.hw-main-navigation
  width third(2)

// Splash
.hw-splash

  .hw-splah-description
    padding 0; margin 0

.hw-splah-description
  z-index 1

  p,
  p + p
    background none
    height auto

  p
    line-height 130%
    padding-bottom 1em

  p + p
    text-align right

media-query-end()
// ———————————————————
// @media small mobile
// ———————————————————
media-small-mobile()

// Splash
.hw-splash
  h2
    font-size 1.5em

.hw-splah-description p
  display block
  width auto; height auto; min-height 0
  padding-bottom 1em
  line-height 140%

  + p
    text-align left

media-query-end()
