@import './css-config'
@import './css-mixins'


.hw-work
  dl:not(.{activeClass}) img
    css-filter 'grayscale()'
    // transition all .5s

    &:hover
      css-filter 'grayscale(0)'

  .panels > :nth-child(3n + 1),
  .panels > :nth-child(3n + 3)
    background #b2b2b2

  .panels > :nth-child(3n + 2)
    background #282828

  .hw-panel-description
    padding px2em(22)


.hw-work-cover
  display block