section.hw-services
  h1.hw-title
    each letter in 'Services'.split('')
      span(data-text="#{letter}")= letter

  .hw-services-list
    dl#hw-service-design.hw-services-item
      dt.hw-sub.hw-services-cover: .hw-container
        h6 Design
        p: i.hicon.penBottom
        a(href="#hw-service-design") more details
      dd.hw-sub.hw-sub-left.hw-sub-description: .hw-sub-panel
        h3 I like it that way:
        ul
          li Fast delivery
          li Efficient UX Design: what users wants it's a simple &amp; complete experience
          li Responsive design: web is now from mobile to desktop. I design for every platform
      dd.hw-sub.hw-sub-right.hw-sub-description: .hw-sub-panel
        h3 I like to make:
        ul
          li Logos
          li Icons
          li
            span.hw-responsive-linebreak Typographies
            span.hw-responsive-linebreak: a(href="http://hiswe.github.io/hiso-font/") &nbsp;watch on Github
          li
            span.hw-responsive-linebreak Vector &amp; pixels illustrations
            span.hw-responsive-linebreak: a(href="http://hiswe.deviantart.com/") &nbsp;watch on Deviantart
          li
            span.hw-responsive-linebreak Sketches
            span.hw-responsive-linebreak: a(href="http://hiswe.tumblr.com/") &nbsp;watch on Tumblr
      dd.hw-sub-close: a(href="#")
        +icon('close')

    dl#hw-service-integration.hw-services-item
      dt.hw-sub.hw-services-cover: .hw-container
        h6 Integration
        p: i.hicon.website-reversed
        a(href="#hw-service-integration") more details
      dd.hw-sub.hw-sub-left.hw-sub-description: .hw-sub-panel
        h3 From webdesign to webpage:
        ul
          li Optimized for fast loading &amp; rendering
          li <a href="http://www.css3.info/graceful-degradation/">Graceful degradation</a> on old browser
          li Bring your design to life with animations
          li Better referencing &amp; accessibility with semantic &amp; valid HTML
          li Clean JavaScript code

      dd.hw-sub.hw-sub-right.hw-sub-description: .hw-sub-panel
        h3 I code in:
        ul
          li HTML 5
          li CSS 3
          li JavaScript &amp; jQuery

        h3 I use modern &amp; reliable tools:
        ul
          li <a href="http://jade-lang.com/">Jade templates</a>
          li <a href="http://learnboost.github.io/stylus/">Stylus</a> &amp; <a href="https://github.com/visionmedia/nib">Nib</a>
          li <a href="http://coffeescript.org/">CoffeeScript</a>
          li <a href="http://gulpjs.com/">Gulp</a>
      dd.hw-sub-close: a(href="#")
        +icon('close')

    dl#hw-service-development.hw-services-item
      dt.hw-sub.hw-services-cover: .hw-container
        h6 Development
        p: i.hicon.factory
        a(href="#hw-service-development") more details
      dd.hw-sub.hw-sub-left.hw-sub-description: .hw-sub-panel
        h3 Sometimes you need more than a simple website, <br /> what you want is a real web application.
        ul
          li No more page reload with AJAX
          li Reactive application with MVC design pattern
          li Secured data with CouchDB
      dd.hw-sub.hw-sub-right.hw-sub-description: .hw-sub-panel
        h3 I develop complex applications with:
        p For the front-end
        ul
          li <a href="http://angularjs.org/">Google AngularJS</a>
        p For the back-end
        ul
          li <a href="http://nodejs.org/">NodeJS</a>
          li <a href="http://expressjs.com/">ExpressJS framework</a>
          li <a href="http://couchdb.apache.org/">CouchDB</a>
      dd.hw-sub-close: a(href="#")
        +icon('close')
