.DS_Store
.project
.dev_env
.env
.hiswerc
.settings/
node_modules
/components
/bower_components
public/media/source
public/media/images
public/index.min.css
public/app.min.js
public/lib.js
public/lib.min.js
tmp
*.ai
sources
archives
npm-debug.log