.DS_Store
.project
.dev_env
.env
.hiswerc
.awspublish-hiswe
.settings/
node_modules
/components
/bower_components
public/media/source
public/media/images
public/media/icons
public/index.min.css
public/app*.js
public/lib*.js
public/index*.css
tmp
*.ai
sources
archives
npm-debug.log