/* Simple Gauge */
.cell{
	background: transparent url('../media/tiles.png') no-repeat left top ;
	background-color: transparent !important;
	position: absolute;
	display: block;
}
.cell.hover{
	background-position: left bottom;
}
.flower{
	background-position: right top;
}