@import 'nib/vendor'
@import 'hstrap/mixins/h-ease'

// Firefox don't handle time 0.
// it MUST be 0s

// Timing configuration
t-iso     = .5s
t-slide   = .5s
t-book    = .5s
t-between = 0s

// Delay computing
d-in-1  = t-iso + t-between
d-in-2  = t-iso + t-slide + t-between * 2
d-out-1 = t-book + t-between
d-out-2 = t-book + t-slide + t-between * 2

d-full   = t-iso + t-slide + t-book + t-between * 3

// Easing
e-iso-in    = "easeInCubic"
e-iso-out   = "easeOutCubic"
e-slide-in  = "easeOutCubic"
e-slide-out = "easeInCubic"
e-book-in   = "ease"
e-book-out  = "ease"

panel-in()
  transition-property         height,             top,                margin-bottom,      z-index
  transition-duration         t-iso,              t-iso,              t-iso,              0s
  transition-timing-function  h-ease(e-iso-in),   h-ease(e-iso-in),   h-ease(e-iso-in),   ease
  transition-delay            0s,                 0s,                 0s,                 0s

panel-out()
  transition-property         height,             top,                margin-bottom,      z-index
  transition-duration         t-iso,              t-iso,              t-iso,              0s
  transition-timing-function  h-ease(e-iso-out),  h-ease(e-iso-out),  h-ease(e-iso-out),  ease
  transition-delay            d-out-2,            d-out-2,            d-out-2,            d-full

// Cover panel
default-in()
  transition-property         transform,          height,             background,         left,               box-shadow
  transition-duration         t-iso,              t-iso,              t-iso,              t-slide,            $hover-transition
  transition-timing-function  h-ease(e-iso-in),   h-ease(e-iso-in),   h-ease(e-iso-in),   h-ease(e-iso-in),   ease
  transition-delay            0s,                 0s,                 0s,                 d-in-1,             0s

default-out()
  transition-property         transform,          height,             background,         left,               box-shadow
  transition-duration         t-iso,              t-iso,              t-iso,              t-slide,            $hover-transition
  transition-timing-function  h-ease(e-iso-out),  h-ease(e-iso-out),  h-ease(e-iso-out),  h-ease(e-iso-out),  ease
  transition-delay            d-out-2,            d-out-2,            d-out-2,            d-out-1,            0s

// Slide panel
slide-in()
  transition-property         left,               visibility
  transition-duration         t-slide,            0s
  transition-timing-function  h-ease(e-slide-in), ease
  transition-delay            d-in-1,             d-in-1

slide-out()
  transition-property         left,               visibility
  transition-duration         t-slide,            0s
  transition-timing-function  h-ease(e-slide-out),ease
  transition-delay            d-out-1,            d-out-2

// Transform panel
rotate-in()
  transition-property         left,               visibility,         transform
  transition-duration         0s,                 0s,                 t-book
  transition-timing-function  ease,               ease,               h-ease(e-book-in)
  transition-delay            d-in-2,             d-in-2,             d-in-2

rotate-in-no-delay()
  transition-property         left,               visibility,         transform
  transition-duration         0s,                 0s,                 t-book
  transition-timing-function  ease,               ease,               h-ease(e-book-in)
  transition-delay            d-in-1,             d-in-1,             d-in-1

rotate-out()
  transition-property         left,               visibility,         transform
  transition-duration         0s,                 0s,                 t-book
  transition-timing-function  ease,               ease,               h-ease(e-book-out)
  transition-delay            d-out-1,            d-out-1,            0s

rotate-out-big-delay()
  transition-property         left,               visibility,         transform
  transition-duration         0s,                 0s,                 t-book
  transition-timing-function  ease,               ease,               h-ease(e-book-out)
  transition-delay            d-out-2,            d-out-2,            d-out-1

// Icon in Services
icon-in()
  transition-property         transform,          opacity,            color,              font-size
  transition-duration         t-iso,              t-iso,              t-iso,              t-iso
  transition-timing-function  h-ease(e-iso-in),   h-ease(e-iso-in),   h-ease(e-iso-in),   ease
  transition-delay            0s,                 0s,                 0s,                 0s

icon-out()
  transition-property         transform,          opacity,            color,              font-size
  transition-duration         t-iso,              t-iso,              t-iso,              t-iso
  transition-timing-function  h-ease(e-iso-out),  h-ease(e-iso-out),  h-ease(e-iso-out),  ease
  transition-delay            d-out-2,            d-out-2,            d-out-2,            d-out-2

// close button
close-in()
  transition-property         left,               opacity,            color
  transition-duration         0s,                 t-iso,              t-iso
  transition-timing-function  ease,               ease,               ease
  transition-delay            d-full,             d-full,             0s

close-out()
  transition-property         left,               opacity,            color
  transition-duration         0s,                 .1s,                t-book
  transition-timing-function  ease,               ease,               ease
  transition-delay            .1s,                0s,                 0s

// mobile first panel
mobile-title-in()
  transition transform t-iso h-ease(e-iso-in) 0s

mobile-title-out()
  transition transform t-iso h-ease(e-iso-out) d-out-2

mobile-stem-in()
  transition visibility 0s ease 0s

mobile-stem-out()
  transition visibility 0s ease d-out-2

mobile-left-in()
  transition-property         transform,          visibility,         height,             z-index,            top
  transition-duration         t-slide,            0s,                 0s,                 0s,                 0s
  transition-timing-function  h-ease(e-slide-in), ease,               ease,               ease,               ease
  transition-delay            d-in-1,             d-in-1,             d-in-1,             d-in-1,             d-in-1

mobile-left-out()
  transition-property         transform,          visibility,         height,             z-index,            top
  transition-duration         t-slide,            0s,                 0s,                 0s,                 0s
  transition-timing-function  h-ease(e-slide-out),ease,               ease,               ease,               ease
  transition-delay            d-out-1,            d-out-2,            d-out-2,            d-out-2,            d-out-2

mobile-right-in()
  transition-property         transform,          visibility,         height,             z-index,            top
  transition-duration         t-book,             0s,                 0s,                 0s,                 0s
  transition-timing-function  ease,               ease,               ease,               ease,               ease
  transition-delay            d-in-2,             d-in-2,             d-in-2,             d-in-2,             d-in-2

mobile-right-out()
  transition-property         transform,          visibility,         height,             z-index,            top
  transition-duration         t-book,             0s,                 0s,                 0s,                 0s
  transition-timing-function  ease,               ease,               ease,               ease,               ease
  transition-delay            0s,                 d-out-1,            d-out-1,            d-out-1,            d-out-1

// mobile-slide-in()
//   transition-property         left,                 visibility
//   transition-duration         d-slide,              0s
//   transition-timing-function  h-ease(e-slide-in),   ease
//   transition-delay            d-in-1,               d-in-1

// mobile-slide-out()
//   transition-property         left,                 visibility
//   transition-duration         d-slide,              0s
//   transition-timing-function  h-ease(e-slide-out),  ease
//   transition-delay            d-out-1,              d-out-2

// mobile Second in
// mobile Second out



