@import 'hstrap/mixins/h-ease'

// Firefox don't handle time 0.
// it MUST be 0s

// Timing configuration
t-iso     = .5s
t-slide   = .5s
t-book    = .5s
t-between = 0s

// Delay computing
d-in-1  = t-iso + t-between
d-in-2  = t-iso + t-slide + t-between * 2
d-out-1 = t-book + t-between
d-out-2 = t-book + t-slide + t-between * 2

d-full   = t-iso + t-slide + t-book + t-between * 3

// Easing
e-iso-in    = "easeInCubic"
e-iso-out   = "easeOutCubic"
e-slide-in  = "easeOutCubic"
e-slide-out = "easeInCubic"
e-book-in   = "ease"
e-book-out  = "ease"

panel-in()
  transition  height          t-iso     h-ease(e-iso-in)    0s,
              top             t-iso     h-ease(e-iso-in)    0s,
              margin-bottom   t-iso     h-ease(e-iso-in)    0s,
              z-index         0s        ease                0s

panel-out()
  transition  height          t-iso     h-ease(e-iso-out)   d-out-2,
              top             t-iso     h-ease(e-iso-out)   d-out-2,
              margin-bottom   t-iso     h-ease(e-iso-out)   d-out-2,
              z-index         0.1s      ease                2s

// Cover panel
default-in()
  transition  transform       t-iso     h-ease(e-iso-in)    0s,
              height          t-iso     h-ease(e-iso-in)    0s,
              background      t-iso     h-ease(e-iso-in)    0s,
              left            t-slide   h-ease(e-iso-in)    d-in-1,
              box-shadow      $hover-transition    ease     0s

default-out()
  transition  transform       t-iso     h-ease(e-iso-out)   d-out-2,
              height          t-iso     h-ease(e-iso-out)   d-out-2,
              background      t-iso     h-ease(e-iso-out)   d-out-2,
              left            t-slide   h-ease(e-iso-out)   d-out-1,
              box-shadow      $hover-transition   ease      0s

// Slide panel
slide-in()
  transition  left            t-slide   h-ease(e-slide-in)  d-in-1,
              visibility      0s        ease                d-in-1

slide-out()
  transition  left            t-slide   h-ease(e-slide-out) d-out-1,
              visibility      0s        ease                d-out-2

// Transform panel
rotate-in()
  transition  left            0s        ease                d-in-2,
              visibility      0s        ease                d-in-2,
              transform       t-book    h-ease(e-book-in)   d-in-2

rotate-in-no-delay()
  transition  left            0s        ease                d-in-1,
              visibility      0s        ease                d-in-1,
              transform       t-book    h-ease(e-book-in)   d-in-1

rotate-out()
  transition  left            0s        ease                d-out-1,
              visibility      0s        ease                d-out-1,
              transform       t-book    h-ease(e-book-out)  0s

rotate-out-big-delay()
  transition  left            0s        ease                d-out-2,
              visibility      0s        ease                d-out-2,
              transform       t-book    h-ease(e-book-out)  d-out-1

// Icon in Services
icon-in()
  transition  transform       t-iso     h-ease(e-iso-in)    0s,
              opacity         t-iso     h-ease(e-iso-in)    0s,
              color           t-iso     h-ease(e-iso-in)    0s,
              font-size       t-iso     ease                0s

icon-out()
  transition  transform       t-iso     h-ease(e-iso-out)   d-out-2,
              opacity         t-iso     h-ease(e-iso-out)   d-out-2,
              color           t-iso     h-ease(e-iso-out)   d-out-2,
              font-size       t-iso     ease                d-out-2

// close button
close-in()
  transition  left            0s        ease                d-full,
              opacity         t-iso     ease                d-full,
              color           t-iso     ease                0s

close-out()
  transition  left            0s        ease                .1s,
              opacity         .1s       ease                0s,
              color           t-book    ease                0s

// Big mobile
services-big-in()
  transition  transform       t-book    ease                0s,
              height          0s        ease                0s,
              visibility      0s        ease                0s,
              left            0s        ease                0s,
              top             0s        ease                0s

services-big-out()
  transition  transform       t-book    ease                0s,
              height          0s        ease                d-out-1,
              visibility      0s        ease                d-out-1,
              left            0s        ease                d-out-1,
              top             0s        ease                d-out-1

// mobile first panel
mobile-title-in()
  transition  transform       t-iso     h-ease(e-iso-in)    0s

mobile-title-out()
  transition  transform       t-iso     h-ease(e-iso-out)   d-out-2

mobile-stem-in()
  transition  visibility      0s        ease                0s

mobile-stem-out()
  transition  visibility      0s        ease                d-out-2

mobile-left-in()
  transition  transform       t-slide   h-ease(e-slide-in)  d-in-1,
              visibility      0s        ease                d-in-1,
              height          0s        ease                d-in-1,
              z-index         0s        ease                d-in-1,
              top             0s        ease                d-in-1

mobile-left-out()
  transition  transform       t-slide   h-ease(e-slide-out) d-out-1,
              visibility      0s        ease                d-out-2,
              height          0s        ease                d-out-2,
              z-index         0s        ease                d-out-2,
              top             0s        ease                d-out-2

mobile-right-in()
  transition  transform       t-book    ease                d-in-2,
              visibility      0s        ease                d-in-2,
              height          0s        ease                d-in-2,
              z-index         0s        ease                d-in-2,
              top             0s        ease                d-in-2

mobile-right-out()
  transition  transform       t-book    ease                0s,
              visibility      0s        ease                d-out-1,
              height          0s        ease                d-out-1,
              z-index         0s        ease                d-out-1,
              top             0s        ease                d-out-1
