doctype html
include mixins
html.no-js
  include layout/head

  body.prevent-transition.hover
    include includes/hiswe-icons.svg

    input.hw-menu-input#menu(type="checkbox", name="menu")
    label.hw-menu-input-label(for="menu", onclick)
      +icon('menu')

    .main-content
      include includes/navigation
      block content

    //- jQuery + plugins
    if env == 'production'
      script(src="/#{assets['vendor.js']}")
      script(src="/#{assets['app.js']}")
    else
      script(src="/vendor.js")
      script(src="/app.js")

    block script

    //- analytics
    if env == 'production'
      include layout/analytic
