figure(class="#{image.type}")
  != body
  a(href=image.href, target="_blank")
    svg(viewBox="0 0 36 24" class="svgicon svgicon-expand" role="img" title="expand")
      use(xlink:href="#icon-expand")
  if image.text
    figcaption!= image.text
