@import 'nib/vendor'

trans-time  = .5s
move-time   = .75s
delay-in    = trans-time + .25s
delay-out   = move-time + .25s
delay-full  = move-time + trans-time + .25s

t-iso     = .5s
t-slide   = .5s
t-book    = .5s
t-between = .1s

d-in-1  = t-iso + t-between
d-in-2  = t-iso + t-slide + t-between * 2
d-out-1 = t-book + t-between
d-out-2 = t-book + t-slide + t-between * 2

d-ful   = t-iso + t-slide + t-book

panel-in()
  transition all t-iso ease-in-out

panel-out()
  transition all trans-time ease-in-out d-out-2

// Cover panel
default-in()
  transition-property         transform,  background, left,       box-shadow
  transition-duration         t-iso,      t-iso,      t-slide,  $hover-transition
  transition-timing-function  ease,       ease,       ease,       ease
  transition-delay            0,          0,          d-in-1,   0

default-out()
  transition-property         transform,  background, left,       box-shadow
  transition-duration         t-iso,      t-iso,      t-slide,  $hover-transition
  transition-timing-function  ease,       ease,       ease,       ease
  transition-delay            d-out-2,    d-out-2,    d-out-1,  0

// slide panel
slide-in()
  transition-property         left,         visibility
  transition-duration         d-slide,      0
  transition-timing-function  ease,         step-start
  transition-delay            d-in-1,       d-in-1

slide-out()
  transition-property         left,         visibility
  transition-duration         d-slide,      0
  transition-timing-function  ease,         step-end
  transition-delay            d-out-1,      d-out-2

// Transform padding-left
rotate-in()
  transition-property         left,         visibility, transform
  transition-duration         0,            0,          t-book
  transition-timing-function  step-end,     step-end,   ease
  transition-delay            d-in-2,       d-in-2,     d-in-2

rotate-out()
  transition-property         left,         visibility, transform
  transition-duration         0,            0,          t-book
  transition-timing-function  step-end,     step-end,   ease
  transition-delay            d-out-1,      d-out-1,    0

icon-in()
  transition transform trans-time ease-in-out, color move-time step-start

icon-out()
  transition transform trans-time ease-in-out delay-out, color trans-time step-end delay-out

// close button
close-in()
  transition-property         left,         opacity,    color
  transition-duration         trans-time,   trans-time, trans-time
  transition-timing-function  step-end,     ease,       ease
  transition-delay            0,            delay-full, 0

close-out()
  transition-property         left,         opacity,    color
  transition-duration         move-time,    move-time,   move-time
  transition-timing-function  ease-in-out,  ease,       ease
  transition-delay            0,            delay-out,  0
