@import 'nib/vendor'

trans-time  = .5s
move-time   = .75s
delay-in    = trans-time + .25s
delay-out   = move-time + .25s
delay-full  = move-time + trans-time + .25s

panel-in()
  transition all trans-time ease-in-out

panel-out()
  transition all trans-time ease-in-out delay-out

sub-in()
  transition-property         left,       background, visibility, transform,  box-shadow
  transition-duration         move-time,  move-time,  move-time,  move-time,  .5s
  transition-timing-function  ease,       step-start, step-end,   ease,       ease
  transition-delay            0,          0,          0,          delay-in,   0

sub-out()
  transition-property         left,         background, visibility, transform,  box-shadow
  transition-duration         move-time,    delay-full, move-time,  move-time,  .5s
  transition-timing-function  ease-in-out,  step-end,   step-end,   ease,       ease
  transition-delay            0,            0s,         0,          delay-out,  0

icon-in()
  transition transform move-time ease, color move-time step-start

icon-out()
  transition transform delay-out step-end, color trans-time step-end delay-out
