@import './css-config'
@import './css-mixins'

.hw-work
  dl:not(.{activeClass}) img
    css-filter 'grayscale()'
    // transition all .5s

    &:hover
      css-filter 'grayscale(0)'

  .hw-panel-description
    padding px2em(22)

    h3
      text-align center
      font-weight normal
      margin-top 0
      letter-spacing .15em

.hw-work-cover
  display block
  position relative
  padding 0

  .hw-cover-cover-in
    position absolute
    top px2em($hover-width, $panel-fs)
    left @top; right @top; bottom @left
    v-align()
    overflow hidden
    text-align center

  img
    max-width 100%

.hw-work-carrousel
  position relative

  ul
    absolute top left
    overflow auto
    width 100%; height @width
    white-space nowrap

    li
      width 100%; height @width
      overflow hidden
      display inline-block
      vertical-align top
      text-align center
      v-align()
  img
    max-width 100%

  ul.{carrouselClass}
    overflow hidden
    cursor pointer

    li
      background noir()
      absolute top 0
      opacity 0

      &.active
        z-index 2
        opacity 1
