@import 'nib/vendor'

trans-time  = .5s
move-time   = .75s
delay-in    = trans-time + .25s
delay-out   = move-time + .25s

panel-in()
  transition all trans-time ease-in-out

panel-out()
  transition all trans-time ease-in-out delay-out

sub-in()
  transition-property left, background, visibility, transform
  transition-duration move-time, move-time, move-time, move-time
  transition-timing-function ease, step-start, step-end, ease
  transition-delay 0, 0, 0, delay-in

sub-out()
  transition-property left, background, visibility, transform
  transition-duration move-time, move-time, move-time, move-time
  transition-timing-function ease-in-out, step-end, step-end, ease
  transition-delay 0, delay-out, 0, delay-out

icon-in()
  transition transform move-time ease, color move-time step-start

icon-out()
  transition transform delay-out step-end, color trans-time step-end delay-out
