@import 'nib/positions'
@import 'nib/reset'
@import './css-config'
@import './css-mixins'

.hw-work
  dl:not(.{activeClass}) img
    css-filter 'grayscale()'

    &:hover
      css-filter 'grayscale(0)'

  .hw-panel-description
    padding px2em(22)

    h3
      text-align center
      font-weight normal
      margin-top 0
      letter-spacing .15em
