@import 'nib/vendor'
@import '../css-config'
@import '../css-mixins'
@import './panel-mixins'

.hw-panels-open
  perspective 1000px
  perspective-origin center center

.hw-sub-container
  position relative
  height px2em($panel-height)
  transform-style preserve-3d
  background $dark-gray
  panel-out()

  a
    color $dark-blue

    &:hover
      color $light-blue

  .hicon
    font-size 6em

  .hw-sub
    overflow hidden
    visibility hidden
    height 100%; width @height
    box-sizing border-box
    absolute top left
    z-index 1
    sub-out()

    .hicon
      icon-out()

  .hw-sub-default
    z-index 2
    cursor pointer
    visibility visible

  &:nth-child(3n+1) .hw-sub,
  &:nth-child(3n+3) .hw-sub
    background $pink

  &:nth-child(3n+2) .hw-sub
    background $dark-pink


  &:nth-child(3n+1),
  &:nth-child(3n+2)
    .hw-sub:not(.hw-sub-default) ~ .hw-sub:not(.hw-sub-default)
      transform-origin center left
      transform rotateY(-90deg)

  &:nth-child(3n+2),
  &:nth-child(3n+3)
    .hw-sub:not(.hw-sub-default)
      transform rotateY(90deg)
      transform-origin center right

  &:nth-child(3n+3)
    .hw-sub:not(.hw-sub-default) ~ .hw-sub:not(.hw-sub-default)
      transform none

for num in 1 2 3
  // perspecive for elements
  // .hw-sub-container:nth-child(3n+{num})
  //   perspective-origin unit((2.5 - num) * 100, '%') 50%

  // active positioning
  .{activeClass}:nth-child(3n+{num})
    .hw-sub:not(.hw-sub-default)
      left unit((1 - num) * 100, '%')

    .hw-sub-default
      left unit((2 - num) * 100, '%')

    .hw-sub:not(.hw-sub-default) ~ .hw-sub:not(.hw-sub-default)
      left unit((3 - num) * 100, '%')

.hw-panels-open
  // active
  .{activeClass},
  .{activeClass} .hicon
    iso-reset()

  .{activeClass}
    height 468px
    top -78px
    margin-bottom -158px
    z-index 10
    panel-in()

    .hw-sub
      visibility visible
      transform rotateY(0) !important
      sub-in()

      .hicon
        icon-in()

    .hicon.website
      mirror-vertical()
