@import 'nib/reset'
@import 'nib/vendor'
@import 'nib/positions'
@import '../css-config'
@import '../css-mixins'

.hw-sub-container:not(.{activeClass})
  .hw-sub-default
    cursor pointer

  .hw-sub-default:hover
    box-shadow inset 0 0 0 px2em($hover-width) $hover-color

.hw-panels-open
  h3:first-child
    margin-top 0

  .hw-sub-left,
  .hw-sub-right
    background $dark-gray

  .{activeClass} .hw-sub-default
    background $gray

.hw-sub-links,
.hw-sub-description
  font-size px2em($panel-fs)

.hw-sub-panel
  height 100%; width @height
  box-sizing border-box
  transform translate3d(0,0,0)
  padding $panel-padding $panel-padding 0

.hw-sub-description
  line-height 1.5em

  p
    margin-bottom 0

  ul, li
    list-style none
    reset-box-model()

  li
    padding-left 1em
    position relative

  li::before
    content '\25A0'
    color noir()
    absolute left

.hw-sub-links
  padding-top px2em(60, $panel-fs)
  text-align center
  a
    font-size 1.25em
    margin 1em 0 1.25em
    display inline-block
    text-transform uppercase

.hw-sub-close
  width 2em; height @width
  absolute top .5em left 100%; z-index 2
  text-align center; line-height 1.5em
  background $gray; box-shadow 2px 2px 0 noir(.75)
  cursor pointer
  margin-left -2.5em

  &::after
    font-size 2em
    content '×'
    font-weight bold

  &:hover::after
    color $pink

  &:active
    transform translate(2px, 2px)
    box-shadow none


.hw-panel-cover
  display block
  position relative
  padding 0

  .hw-panel-cover-in
    position absolute
    top px2em($hover-width, $panel-fs)
    left @top; right @top; bottom @left
    v-align()
    overflow hidden
    text-align center

  img
    max-width 100%

// debug
if debug()
  .hw-sub-container:nth-child(3n + 1)
    outline 2px dotted yellow

  .hw-sub-container:nth-child(3n + 2)
    outline 2px dotted blue

  .hw-sub-container:nth-child(3n + 3)
    outline 2px dotted white
