@import 'nib/vendor'
@import './css-config'
@import './css-mixins'

.hw-sub-container
  position relative
  height px2em($panel-height)

  a
    color $dark-blue

    &:hover
      color $light-blue

  .hicon
    font-size 6em

  .hw-sub
    visibility hidden
    height 100%; width @height
    box-sizing border-box
    absolute top left

  &.{activeClass} .hw-sub,
  .hw-sub-default
    visibility visible

// active positioning
for num in 1 2 3
  .{activeClass}:nth-child(3n+{num})
    .hw-sub:not(.hw-sub-default)
      left unit((1 - num) * 100, '%')

    .hw-sub-default
      left unit((2 - num) * 100, '%')

    .hw-sub:not(.hw-sub-default) ~ .hw-sub:not(.hw-sub-default)
      left unit((3 - num) * 100, '%')

.hw-panels-open
  // services and work
  .{activeClass} > :nth-child(3n + 1)
  .{activeClass} > :nth-child(3n + 3)
    background $dark-gray

    .hicon
      color $gray

  .{activeClass} > :nth-child(3n + 2)
    background $gray

    .hicon
      color $dark-gray

  // active
  .{activeClass},
  .{activeClass} .hicon
    iso-reset()
    z-index 2

  .{activeClass}
    height 468px
    top -78px
    margin-bottom -158px

    .hicon.website
      mirror-vertical()
