@import 'nib/vendor'
@import '../css-config'
@import '../css-mixins'


.hw-services,
.hw-work
  position relative
  z-index 1

.hw-highlight
  z-index 2

.hw-panels
  white-space nowrap

  > *
    white-space normal
    display inline-block
    box-sizing border-box
    width third()
    vertical-align top
    position relative

    .hicon
      display inline-block

  > :nth-child(3n + 1),
  > :nth-child(3n + 3)
    iso-left()

    .hicon
      iso-right()

  > :nth-child(3n + 2)
     iso-right()

    .hicon
      iso-right()


.hw-panels-pink
  > :nth-child(3n + 1),
  > :nth-child(3n + 3)
    background $pink

  > :nth-child(3n + 2)
    background $dark-pink

