@import 'nib/vendor'
@import '../css-config'
@import '../css-mixins'
@import './panel-mixins'

.hw-sub-container
  position relative
  height px2em($panel-height)
  panel-out()

  a
    color $dark-blue

    &:hover
      color $light-blue

  .hicon
    font-size 6em

  .hw-sub
    overflow hidden
    height 100%; width @height
    box-sizing border-box
    absolute top left
    z-index 1
    sub-out()

    .hicon
      icon-out()

  .hw-sub-default
    z-index 2

  &:nth-child(3n+1) .hw-sub,
  &:nth-child(3n+3) .hw-sub
    background $pink

  &:nth-child(3n+2) .hw-sub
    background $dark-pink

// active positioning
for num in 1 2 3
  .{activeClass}:nth-child(3n+{num})
    .hw-sub:not(.hw-sub-default)
      left unit((1 - num) * 100, '%')

    .hw-sub-default
      left unit((2 - num) * 100, '%')

    .hw-sub:not(.hw-sub-default) ~ .hw-sub:not(.hw-sub-default)
      left unit((3 - num) * 100, '%')

.hw-panels-open
  // active
  .{activeClass},
  .{activeClass} .hicon
    iso-reset()
    z-index 2

  .{activeClass}
    height 468px
    top -78px
    margin-bottom -158px
    panel-in()

    .hw-sub
      sub-in()

      .hicon
        icon-in()

    .hicon.website
      mirror-vertical()
