@import 'nib/reset'
@import 'nib/vendor'
@import 'nib/positions'
@import '../css-config'
@import '../css-mixins'

.hw-sub-container:not(.{activeClass})
  .hw-sub-default
    cursor pointer

  .hw-sub-default:hover
    box-shadow inset 0 0 0 $hover-width $hover-color

.hw-panels-open .{activeClass}
  .hw-sub:not(.hw-sub-default)
  .hw-sub:not(.hw-sub-default) ~ .hw-sub:not(.hw-sub-default)
    background $dark-gray

    .hicon
      color $gray

  .hw-sub-default
    background $gray

    .hicon
      color $dark-gray

.hw-sub-description,
.hw-sub-links
  font-size px2em($panel-fs)
  padding px2em(20, $panel-fs) px2em(20, $panel-fs) 0

.hw-sub-description
  line-height 1.5em

  ul, li
    list-style none
    reset-box-model()

  li
    padding-left 1em
    position relative

  li::before
    content '\25A0'
    color noir()
    absolute left

  h3
    margin-top 0

.hw-sub-links
  text-align center
  a
    font-size 1.25em
    padding 1em 0 1.25em
    display block
    text-transform uppercase

.hw-sub-image
  v-align()

.hw-sub-image
  overflow hidden
  text-align center

  img
    max-width 100%

.hw-sub-close
  width 2em; height @width
  absolute top .5em; z-index 2
  text-align center; line-height 1.5em
  background $gray; box-shadow 2px 2px 0 noir(.75)
  cursor pointer
  margin-left -2.5em

  &::after
    font-size 2em
    content '×'
    font-weight bold

  &:hover::after
    color $pink

  &:active
    transform translate(2px, 2px)
    box-shadow none

// debug
if debug()
  .hw-sub-container:nth-child(3n + 1)
    outline 2px dotted yellow

  .hw-sub-container:nth-child(3n + 2)
    outline 2px dotted blue

  .hw-sub-container:nth-child(3n + 3)
    outline 2px dotted white
