@import 'nib/vendor'
@import 'hstrap/mixins/h-ease'

trans-time  = .5s
move-time   = .75s
delay-in    = trans-time + .25s
delay-out   = move-time + .25s
delay-full  = move-time + trans-time + .25s

t-iso     = .5s
t-slide   = .5s
t-book    = .5s
t-between = 0s

// Easing
e-iso-in    = "easeInCubic"
e-iso-out   = "easeOutCubic"
e-slide-in  = "easeOutCubic"
e-slide-out = "easeInCubic"
e-book-in   = "ease"
e-book-out  = "ease"

d-in-1  = t-iso + t-between
d-in-2  = t-iso + t-slide + t-between * 2
d-out-1 = t-book + t-between
d-out-2 = t-book + t-slide + t-between * 2

d-full   = t-iso + t-slide + t-book + t-between * 3

panel-in()
  transition all t-iso ease-in-out

panel-out()
  transition all trans-time ease-in-out d-out-2

// Cover panel
default-in()
  transition-property         transform,        background,         left,             box-shadow
  transition-duration         t-iso,            t-iso,              t-slide,          $hover-transition
  transition-timing-function  h-ease(e-iso-in), h-ease(e-iso-in),   h-ease(e-iso-in), ease
  transition-delay            0,                0,                  d-in-1,           0

default-out()
  transition-property         transform,          background,         left,               box-shadow
  transition-duration         t-iso,              t-iso,              t-slide,            $hover-transition
  transition-timing-function  h-ease(e-iso-out),  h-ease(e-iso-out),  h-ease(e-iso-out),  ease
  transition-delay            d-out-2,            d-out-2,            d-out-1,            0

// slide panel
slide-in()
  transition-property         left,                 visibility
  transition-duration         d-slide,              0
  transition-timing-function  h-ease(e-slide-in),   step-start
  transition-delay            d-in-1,               d-in-1

slide-out()
  transition-property         left,                 visibility
  transition-duration         d-slide,              0
  transition-timing-function  h-ease(e-slide-out),  step-end
  transition-delay            d-out-1,              d-out-2

// Transform padding-left
rotate-in()
  transition-property         left,         visibility, transform
  transition-duration         0,            0,          t-book
  transition-timing-function  step-end,     step-end,   h-ease(e-book-in)
  transition-delay            d-in-2,       d-in-2,     d-in-2

rotate-out()
  transition-property         left,         visibility, transform
  transition-duration         0,            0,          t-book
  transition-timing-function  step-end,     step-end,   h-ease(e-book-out)
  transition-delay            d-out-1,      d-out-1,    0

icon-in()
  transition-property         transform,          color,              font-size
  transition-duration         t-iso,              t-iso,              t-iso
  transition-timing-function  h-ease(e-iso-in),   h-ease(e-iso-in),   ease
  transition-delay            0,                  0,                  d-in-1

icon-out()
  transition-property         transform,          color,              font-size
  transition-duration         t-iso,              t-iso,              t-iso
  transition-timing-function  h-ease(e-iso-out),  h-ease(e-iso-out),   ease
  transition-delay            d-out-2,            d-out-2,            d-out-1

// close button
close-in()
  transition-property         left,         opacity,    color
  transition-duration         0,            t-iso,      t-iso
  transition-timing-function  step-end,     ease,       ease
  transition-delay            d-full,       d-full,     0

close-out()
  transition-property         left,         opacity,    color
  transition-duration         .1s,          .1s,        t-book
  transition-timing-function  step-end,     ease,       ease
  transition-delay            0,            0,          0
