extends layout

block content
  section.introduction
    h2 I make custom website for everyone's need
    p.
      Hi, I'm Yannick Aïvayan,<br>
      a developer specialized in web technologies
  section
    h2 Skills & Tech
    p depending on the project I will use the most appropriate set of tools
    p Different needs implies different tools
    p As long as it's web tech!
    dl
      dt Front end
      dd
        ul
          li Showcase website:
            ul
              li
          li Web application:
            ul
              li: a(href="https://reactjs.org/") React
              li: a(href="https://vuejs.org/") Vue.js
          li Offline Web Applications
            ul
              li: a(href="https://developers.google.com/web/tools/workbox/") workbox
      dt Server
      dd
        p I use NodeJs
        ul
          li: a(href="https://expressjs.com/") Express
          li: a(href="https://koajs.com/")  Koa
      dt build Tool
        ul
          li: a(href="https://gulpjs.com/") Gulp
          li: a(href="https://webpack.js.org/") Webpack
          li: a(href="https://parceljs.org/") Parcel

  section
    h2 projects
    h3 Open source modules
      dt: a(href="https://www.npmjs.com/package/gulp-svg-symbols") gulp-svg-symbols
      dd
        p bundle SVG files to make an optimized icon library
      dt: a(href="https://www.npmjs.com/package/vh-check") vh-check
      dd
        p minimal utility fro mobile CSS vh computing
    h3 Applications
    dl
      dt A-Count
      dd
        h4 Universal application for simple account
        p: a(href="https://thaime-2c0a5.firebaseapp.com/#/information") website
        p Made with React & Koa
      dt Thailpha
      dd
        h4 Offline dictionary of Thai alphabet
        p: a(href="https://thailpha-3e7f6.firebaseapp.com/") website
        p Single Page Application made with React
      dt Thaime
      dd
        h4 Offline Thai time & date
        p: a(href="https://thaime-2c0a5.firebaseapp.com/#/information") website
        p Single Page Application made with Vue.js

  section
    h2 Past projects
