extends layout

block content
  section.introduction
    h2 I make custom website for everyone's need
    p.
      Hi, I'm Yannick Aïvayan,<br>
      a web developer specialized in web technologies
  section
    h2 Skills and Tech
    p depending on the project I will use the most appropriate set of tools
    dl
      dt Front end
      dd
        ul
          li Showcase website:
            ul
              li
          li Web application:
            ul
              li: a(href="https://reactjs.org/") React
              li: a(href="https://vuejs.org/") Vue.js
          li Offline Web Applications
            ul
              li: a(href="https://developers.google.com/web/tools/workbox/") workbox
      dt Server
      dd
        p I use NodeJs with ExpressJs or Koa
      dt build Tool
        ul
          li Gulp Js
          li Webpack
          li ParcelJS


  section
    h2 projects
    h3 Open Source
      dt gulp-svg-symbols
      dd bundle SVG files to make an optimized icon library
      dt vh-check
      dd minimal workaround with iOS CSS vh computing
    h3 Applications
    dl
      dt A-Count
      dd
        h4 Universal application for simple account
        p Made with React & Koa
      dt Thailpha
      dd
        h4 Offline dictionary of Thai alphabet
        p Single Page Application made with React
      dt Thaime
      dd
        h4 Offline Thai clock & time
        p Single Page Application made with Vue.js
  section
    h2 Past projects

