doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="description" content="Hiswe's website")
    title Hiswe's website
    //- Mobile
    meta(name="viewport" content="width=device-width initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel='stylesheet', href="/hiswe.css")

  body
    h1 hiswe
    h2 full stack Javascript developer
    nav
      a(href="https://github.com/hiswe") github
      a(href="https://hiswe.github.io/") blog
      a(href="https://medium.com/@hiswehalya") medium
      a(href="https://codepen.io/Hiswe/") codepen
    main(role="main")
      block content
    footer
