doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="description" content="Hiswe's website")
    title Hiswe's website
    //- Mobile
    meta(name="viewport" content="width=device-width initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel='stylesheet', href="/hiswe.css")

  body
    include svg-symbols.svg
    h1 Yannick Aïvayan <i>aka</i> hiswe
    nav.nav-pages
      a(href="/") about
      a(href="/projects") projects
      a(href="#") work
      a(href="/tech") tech
      a(href="https://hiswe.github.io/") blog
    main(role="main")
      block content

