doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="description" content="Hiswe's webiste")
    title Hiswe's website
    //- Mobile
    meta(name="viewport" content="width=device-width initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //- link(rel='stylesheet', href=md5Url("/hiswe.css"))
    //- link(rel='icon', href='media/favicon.png', type='image/png')

  body
    main(role="main")
      block content
    footer
