extends layout

block content
  form(action="/contact")
    label(for="name") Name
    input#name(type="text")
    label(for="email") Email
    input#email(type="email")
    label(for="message") Message
    textarea#message(row=3)