extends layout

block content
  section.hw-contact
    aside: p
      span Contact me,
      span I'd love to hear from your projects

    form.hw-contact-form(action="/contact", method="post")
      if success.length
        each message in success
          p.hw-message= message
      if errors.length
        each message in errors
          p.hw-message-error= message
      label(for="name")
      input#name(type="text", name="name", required, placeholder="Name")
      label(for="email") Email
      input#email(type="email", name="email", required, placeholder="Email")
      label(for="message") Message
      textarea#message(row=3, name="message", required, placeholder="Say it here")

      button.hw-submit(type="submit") Submit
      button.hw-reset(type="reset")  Reset

block append script
  //- connect assets
  != js('front/boot')
