extends layout

block content
  header.hw-splash
    h2 I'm a freelance <strong>Webdesigner</strong> &amp; <strong>Front-end Developer</strong>
    .hw-splah-description
      p I make websites, UX design and graphism for businesses and start-ups.
      p I use open source &amp; futur oriented technologies for high performance website
      a.hw-hire(href="/contact") Contact me now !
      .hw-portrait
        object(type="image/svg+xml", data="media/me.svg") Your browser does not support SVG

  .hw-detail-panels
    include includes/services
    include includes/work

block append script
  //- connect assets
  != js('front/boot')
