extends layout

block content
  header.hw-splash
    h2 Freelance <strong>Web&nbsp;Designer</strong> &amp;<br /><strong>Front-end Developer</strong>
    .hw-splah-description
      p I make websites, UX design and graphism for businesses and start-ups.
      p I use open source &amp; modern technologies for high performance websites
      //- a.hw-hire(href="/contact") Contact me now!

  .hw-detail-panels
    include includes/services
    include includes/work

