doctype html
html
  include layout/head

  body.preload
    .main-content
      include includes/navigation
      block content

    //- expose
    script!= javascript
    //- jQuery + plugins
    if env == 'production'
      script(src="lib.min.js")
    else
      script(src="lib.js")

    block script

    //- analytics
    if env == 'production'
      include layout/analytic
