doctype html
include mixins
html
  include layout/head

  body.prevent-transition
    include includes/hiswe-icons.svg

    input.hw-menu-input#menu(type="checkbox", name="menu")
    label.hw-menu-input-label(for="menu", onclick)
      +icon('menu')

    .main-content
      include includes/navigation
      block content

    //- jQuery + plugins
    if env == 'production'
      script(src="lib.min.js")
      script(src="app.min.js")
    else
      script(src="/lib.js")
      script(src="/app.js")

    block script

    //- analytics
    if env == 'production'
      include layout/analytic
