doctype 5
html
  include layout/head

  body.preload
    //- noscript: style
    //-   .bg-currency-selector,
    //-   .bg-home-carrousel-control a,
    //-   .bg-lazy-load {
    //-     display: none;
    //-   }

    //- include layout/header
    include includes/home
    //- .bg-content.container.block
    //-   if room.published
    //-     include includes/rooms
    //-   if service.published
    //-     include includes/services
    //-   if cooking.published
    //-     include includes/cooking
    //-   include includes/contact
    //-   include includes/address

    include layout/scripts
