html.projects-page
  include layout/head

  body.no-js
    include includes/hiswe-icons.svg
    article.hw-projects-content!= project

    //- analytics
    if env == 'production'
      include layout/analytic
