html.no-js
  include layout/head

  body.projects-page
    include includes/hiswe-icons.svg
    article.hw-projects-content!= project

    //- analytics
    if env == 'production'
      include layout/analytic
