extends layout

block content
  section
    p Gather all funny CSS things

  dl
    dt Form
    dd: a(href="http://bradfrostweb.com/blog/post/float-label-pattern/") Float label pattern
    dd
      a(href="http://www.paulund.co.uk/style-checkboxes-with-css") CSS styled checkbox
      a(href="http://www.paulund.co.uk/playground/demo/css-style-checkboxes/") (demo)

    dd: a(href="http://codepen.io/bennettfeely/pen/rdiaj") Half circular gauge


  dl
    dt Hover effects
    dd: a(href="http://tympanus.net/Development/IconHoverEffects/#set-1") for circular icons
    dd: a(href="http://tympanus.net/Development/CreativeLinkEffects/") for links
    dd: a(href="http://tympanus.net/Development/CreativeButtons/") for buttons

  dl
    dt Loader
    dd: a(href="http://tympanus.net/Development/CreativeLoadingEffects/") big

  dl
    dt Modal
    dd: a(href="http://tympanus.net/Development/ModalWindowEffects/") pink


block append script
  //- connect assets
  != js('front/boot')
