.hw-responsive-linebreak
  display block

.hw-word-break
  display inline
  white-space nowrap

// Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
media-small-mobile()

.hw-responsive-linebreak
  display inline

.hw-main-title
  position relative; z-index 2
  padding-top .15em
  padding-bottom .35em
  padding-left 0

.hw-main-title,
.hw-title
  margin 0; top auto
  text-align center
  position relative
  width auto

.hw-title
  text-align center
  font-size 2.75em
  display block
  padding  1em 0 .25em

.hw-main-title,
.hw-main-title span,
.hw-title,
.hw-title span
  iso-reset()

media-query-end()
