h1.hw-main-title
  span H
  span i
  span s
  span w
  span e
nav.hw-main-navigation: ul.pages
  li: a(href="#") Portfolio
  li: a(href="#") Blog
  li: a(href="#") Contact

header.hw-splash
  h2 I'm a freelance <strong>Webdesigner</strong> &amp; <strong>Front-end Developer</strong>
  p I make websites, UX design and graphism for businesses and start-ups.
  p I use open source &amp; futur oriented technologies for high performance website
  a.hw-hire(href="#") Hire me now !
  .hw-portrait

section
  h1.hw-title
    span S
    span e
    span r
    span v
    span i
    span c
    span e
    span s
  ul.pages
    li Design
    li Code
    li Also

section
  h1.hw-title
    span L
    span a
    span s
    span t
    span &nbsp;
    span w
    span o
    span r
    span k
  dl
    dt Banjai Garden
    dd Description
  dl
    dt Nori Home
    dd Description
  dl
    dt Dolidhi
    dd Description
