h1 Hiswe
nav: ul
  li: a(href="#") Portfolio
  li: a(href="#") Blog
  li: a(href="#") Contact

header
  h2 I'm a freelance Webdesigner &amp; Front-end Developer
  p I make websites, UX design and graphism for businesses and start-ups.
  p I use open source &amp; futur oriented technologies for high performance website
  a Hire me now !

section
  h1 services
  ul
    li Design
    li Code
    li Also

section
  h1 Last work
  dl
    dt Banjai Garden
    dd Description
  dl
    dt Nori Home
    dd Description
  dl
    dt Dolidhi
    dd Description
