h1.hw-main-title
  span(data-text="H") H
  span(data-text="i") i
  span(data-text="s") s
  span(data-text="w") w
  span(data-text="e") e
nav.hw-main-navigation: ul.hw-panels.hw-panels-pink
  li: a(href="#") Portfolio
  li: a(href="#") Blog
  li: a(href="#") Contact

header.hw-splash
  h2 I'm a freelance <strong>Webdesigner</strong> &amp; <strong>Front-end Developer</strong>
  .hw-splah-description
    p I make websites, UX design and graphism for businesses and start-ups.
    p I use open source &amp; futur oriented technologies for high performance website
    a.hw-hire(href="#") Contact me now !
    .hw-portrait
      object(type="image/svg+xml", data="media/me.svg") Your browser does not support SVG

include services
include work
