h1.hw-main-title
  span(data-text="H") H
  span(data-text="i") i
  span(data-text="s") s
  span(data-text="w") w
  span(data-text="e") e
nav.hw-main-navigation: ul.pages
  li: a(href="#") Portfolio
  li: a(href="#") Blog
  li: a(href="#") Contact

header.hw-splash
  h2 I'm a freelance <strong>Webdesigner</strong> &amp; <strong>Front-end Developer</strong>
  p I make websites, UX design and graphism for businesses and start-ups.
  p I use open source &amp; futur oriented technologies for high performance website
  a.hw-hire(href="#") Hire me now !
  .hw-portrait

section.hw-services
  h1.hw-title
    span S
    span e
    span r
    span v
    span i
    span c
    span e
    span s

  ul.pages
    li
      h6 Design
      p: i.hicon.penBottom
    li
      h6 Code
      p: i.hicon.website
    li
      h6 Also
      p: i.hicon.info

section
  h1.hw-title
    span L
    span a
    span s
    span t
    span &nbsp;
    span w
    span o
    span r
    span k
  .pages
    dl
      dt Banjai Garden
      dd Description
    dl
      dt Nori Home
      dd Description
    dl
      dt Dolidhi
      dd Description
