nav.hw-main-navigation: ul
  li: a(href="/contact") Contact
//-   li: a(href="#") Portfolio
//-   li: a(href="#") Blog

h1.hw-main-title: a(href="/")
  each letter in 'Hiswe'.split('')
    span(data-text="#{letter}")= letter
