section.hw-services
  h1.hw-title
    span S
    span e
    span r
    span v
    span i
    span c
    span e
    span s

  .hw-panels-open
    dl.hw-sub-container
      dt.hw-sub.hw-sub-default.hw-services-title: .hw-container
        h6 Design
        p: i.hicon.penBottom
      dd.hw-sub.hw-sub-left.hw-sub-description: .hw-sub-panel
        h3 I like it that way:
        ul
          li Fast delivery
          li Efficient UX Design: what users wants it's a simple &amp; complete experience
          li Responsive design: web is now from mobile to desktop. I design for every platform
      dd.hw-sub.hw-sub-right.hw-sub-description: .hw-sub-panel
        h3 I like to make:
        ul
          li Logos
          li Icons
          li
            span.hw-responsive-linebreak Typographies
            span.hw-responsive-linebreak: a(href="http://hiswe.github.io/hiso-font/") &nbsp;watch on github
          li
            span.hw-responsive-linebreak Vector &amp; pixels illustrations
            span.hw-responsive-linebreak: a(href="http://hiswe.deviantart.com/") &nbsp;watch on Deviantart
          li
            span.hw-responsive-linebreak Sketches
            span.hw-responsive-linebreak: a(href="http://hiswe.tumblr.com/") &nbsp;watch on Tumblr
      dd.hw-sub-close

    dl.hw-sub-container
      dt.hw-sub.hw-sub-default.hw-services-title: .hw-container
        h6 Integration
        p: i.hicon.website-reversed
      dd.hw-sub.hw-sub-left.hw-sub-description: .hw-sub-panel

        h3 From webdesign to webpage:
        ul
          li Optimized for fast loading &amp; rendering
          li <a href="http://www.css3.info/graceful-degradation/">gracefull degradation</a> on old browser
          li Bring your design to life with animations
          li Better referencing &amp; accessibility with semantic &amp; valid HTML
          li Clean Javascript code for a shining futur

      dd.hw-sub.hw-sub-right.hw-sub-description: .hw-sub-panel
        h3 I code in:
        ul
          li Html 5
          li CSS 3
          li Javascript &amp; jQuery

        h3 I use moderns &amp; reliables tools:
        ul
          li <a href="http://jade-lang.com/">Jade templates</a>
          li <a href="http://learnboost.github.io/stylus/">Stylus</a> &amp; <a href="https://github.com/visionmedia/nib">Nib</a>
          li <a href="http://coffeescript.org/">Coffeescript</a>

      dd.hw-sub-close

    dl.hw-sub-container
      dt.hw-sub.hw-sub-default.hw-services-title: .hw-container
        h6 Development
        p: i.hicon.factory
      dd.hw-sub.hw-sub-left.hw-sub-description: .hw-sub-panel
        h3 Sometimes you need more than a simple website, <br /> what you want is a real Web application.
        ul
          li No more page reload with AJAX
          li Reactive application with MVC design pattern
          li Secured datas with CouchDB

      dd.hw-sub.hw-sub-right.hw-sub-description: .hw-sub-panel
        h3 I develop complex applications with the:
        p For the Front-end
        ul
          li <a href="http://angularjs.org/">Google AngularJS</a>
        p For the back-end
        ul
          li <a href="http://nodejs.org/">NodeJS</a>
          li <a href="http://expressjs.com/">ExpressJS framework</a>
          li <a href="http://couchdb.apache.org/">CouchDB</a>
      dd.hw-sub-close
