section.hw-services
  h1.hw-title
    span S
    span e
    span r
    span v
    span i
    span c
    span e
    span s

  .hw-panels-open
    dl.hw-sub-container
      dt.hw-sub.hw-sub-default.hw-services-title: .hw-container
        h6 Design
        p: i.hicon.penBottom
      dd.hw-sub.hw-sub-description.hw-sub-left: .hw-sub-panel
        h3 I like it that way
        ul
          li Fast delivery
          li Efficient UX Design: Less is more
          li Run everywhere with responsive design
      dd.hw-sub.hw-sub-links.hw-sub-right: .hw-sub-panel
        p choochoo content
      dd.hw-sub-close

    dl.hw-sub-container
      dt.hw-sub.hw-sub-default.hw-services-title: .hw-container
        h6 Code
        p: i.hicon.website-reversed
      dd.hw-sub.hw-sub-description.hw-sub-left: .hw-sub-panel
        h3 I code in
        ul
          li Html 5
          li CSS 3
          li Javascript &amp; jQuery
        h3 I can developp web applications with
        ul
          li Google Angular JS
          li NodeJS &amp; CouchDB

      dd.hw-sub.hw-sub-links.hw-sub-right: .hw-sub-panel
        p
          | Watch me on
          br
          a(href="https://github.com/hiswe") Github
        p
          | CSS experiments on
          br
          a(href="http://bl.ocks.org/Hiswe") Bl.ocks
      dd.hw-sub-close

    dl.hw-sub-container
      dt.hw-sub.hw-sub-default.hw-services-title: .hw-container
        h6 Also
        p: i.hicon.info
      dd.hw-sub.hw-sub-description.hw-sub-left: .hw-sub-panel
        h3 I like to make some
        ul
          li Logos
          li Icons
          li Typography
          li Digital illustrations

      dd.hw-sub.hw-sub-links.hw-sub-right: .hw-sub-panel
        p
          | Logos &amp; Illustrations on
          br
          a(href="http://hiswe.deviantart.com/") Deviant-art
        p
          | Watch my sketches on
          br
          a(href="http://hiswe.tumblr.com/") Tumblr
      dd.hw-sub-close
