section.hw-services
  h1.hw-title
    span S
    span e
    span r
    span v
    span i
    span c
    span e
    span s

  .pages
    dl
      dd.hw-services-description
        | Fast delivery
        | Efficient UX Design: Less is more
        | Run everywhere with responsive design

      dt.hw-services-title: .hw-container
        h6 Design
        p: i.hicon.penBottom
      dd.hw-services-links

    dl
      dd.hw-services-description
        ul
          li Html 5
          li CSS 3
          li Javascript &amp; jQuery
        p Webapp design with Google Angular JS
        p Small backend with NodeJS &amp; CouchDB
      dt.hw-services-title: .hw-container
        h6 Code
        p: i.hicon.website
      dd.hw-services-links
        p
          | Watch me on
          a(href="https://github.com/hiswe") Github

        p
          | CSS experiments on
          a(href="http://bl.ocks.org/Hiswe") Bl.ocks

    dl
      dd.hw-services-description
        ul
          li Logos
          li Icons
          li Illustrations
      dt.hw-services-title: .hw-container
        h6 Also
        p: i.hicon.info

      dd.hw-services-links
        p
          | Watch my illustrations on
          a(href="http://hiswe.deviantart.com/") Deviant-art

        p
          | Watch my sketches on
          a(href="http://hiswe.tumblr.com/") Tumblr
