section.hw-services
  h1.hw-title
    span S
    span e
    span r
    span v
    span i
    span c
    span e
    span s

  .hw-panels.hw-panels-open
    dl.hw-sub-container
      dt.hw-sub.hw-sub-default.hw-services-title: .hw-container
        h6 Design
        p: i.hicon.penBottom
      dd.hw-sub.hw-sub-description: .hw-container
        ul
          li Fast delivery
          li Efficient UX Design: Less is more
          li Run everywhere with responsive design
      dd.hw-sub.hw-sub-links

    dl.hw-sub-container
      dt.hw-sub.hw-sub-default.hw-services-title: .hw-container
        h6 Code
        p: i.hicon.website
      dd.hw-sub.hw-sub-description: .hw-container
        ul
          li Html 5
          li CSS 3
          li Javascript &amp; jQuery
        p Webapp design with Google Angular JS
        p Small backend with NodeJS &amp; CouchDB

      dd.hw-sub.hw-sub-links: .hw-container
        p
          | Watch me on
          a(href="https://github.com/hiswe") Github
        p
          | CSS experiments on
          a(href="http://bl.ocks.org/Hiswe") Bl.ocks

    dl.hw-sub-container
      dt.hw-sub.hw-sub-default.hw-services-title: .hw-container
        h6 Also
        p: i.hicon.info
      dd.hw-sub.hw-sub-description: .hw-container
        h3 I like to make some:
        ul
          li Logos
          li Icons
          li Typography
          li Digital illustrations

      dd.hw-sub.hw-sub-links: .hw-container
        p
          | Logos &amp; Illustrations on
          a(href="http://hiswe.deviantart.com/") Deviant-art
        p
          | Watch my sketches on
          a(href="http://hiswe.tumblr.com/") Tumblr
