section.hw-services
  h1.hw-title
    span S
    span e
    span r
    span v
    span i
    span c
    span e
    span s

  .pages
    dl
      dt.hw-services-title
        h6 Design
        p: i.hicon.penBottom
      dd.hw-services-description Description

    dl
      dt.hw-services-title
        h6 Code
        p: i.hicon.website
      dd.hw-services-description Description

    dl
      dt.hw-services-title
        h6 Also
        p: i.hicon.info
      dd.hw-services-description Description
