section.hw-work
  h1.hw-title
    span L
    span a
    span t
    span e
    span s
    span t
    span &nbsp;
    span w
    span o
    span r
    span k

  .hw-panels.hw-panels-open
    dl.hw-sub-container
      dt.hw-sub.hw-sub-description: .hw-container
        h3 Banjai Garden
        p Design &amp; development of the guesthouse's website
        p: strong keywords
        ul
          li Simplicity &amp; friendliness
          li Elegance
          li Responsive &amp; fast loading website

      dd.hw-sub.hw-sub-image.hw-sub-default.hw-work-cover: img(src="media/images/banjai.jpg")
      dd.hw-sub.hw-sub-image: img(src="media/images/banjai.jpg")
      dd.hw-sub-close

    dl.hw-sub-container
      dt.hw-sub.hw-sub-description: .hw-container
        h3 Nori Home
        p Logo &amp; illustrations for a company whishing to do event related accesories for the big four
        p: strong keywords
        ul
          li charity
          li corporate responsability
          li festive
      dd.hw-sub.hw-sub-image.hw-sub-default.hw-work-cover: img(src="media/images/nori.png")
      dd.hw-sub.hw-sub-image: img(src="media/images/pere_noel.png")
      dd.hw-sub-close
    dl.hw-sub-container
      dt.hw-sub.hw-sub-description: .hw-container
        h3 Dolidhi
        p Logo for an anthropological research program in Siberia
        p: strong Keywords
        ul
          li Russia
          li Tradition
          li Dolgan culture
      dd.hw-sub.hw-sub-image.hw-sub-default.hw-work-cover: img(src="media/images/dolidhi.png")
      dd.hw-sub.hw-sub-image: img(src="media/images/dolidhi.png")
      dd.hw-sub-close
