section.hw-work
  h1.hw-title
    span L
    span a
    span t
    span e
    span s
    span t
    span &nbsp;
    span w
    span o
    span r
    span k

  .hw-panels
    dl
      dt.hw-panel-description
        h3 Banjai Garden
        p Logo &amp; illustrations for a company whishing to do event related accesories for the big four

      dd.hw-panel-image.hw-panel-default.hw-work-cover: img(src="media/images/banjai.jpg")
      dd.hw-panel-image: img(src="media/images/banjai.jpg")

    dl
      dt.hw-panel-description
        h3 Nori Home
        p Logo &amp; illustrations for a company whishing to do event related accesories for the big four
        p: strong keywords
        ul
          li Cute
          li Simplicity
      dd.hw-panel-image.hw-panel-default.hw-work-cover: img(src="media/images/nori.png")
      dd.hw-panel-image: img(src="media/images/pere_noel.png")
    dl
      dt.hw-panel-description
        h3 Dolidhi
        p Logo &amp; illustrations for a company whishing to do event related accesories for the big four
      dd.hw-panel-image.hw-panel-default.hw-work-cover: img(src="media/images/dolidhi.png")
      dd.hw-panel-image: img(src="media/images/dolidhi.png")
