section.hw-work-container.hw-projects
  h1.hw-title
    each letter in 'Projects'.split('')
      span(data-text="#{letter}")= letter

  .hw-work-list
    each work in works
      dl.hw-work
        dt.hw-work-cover= work.name
        dd: article.hw-work-content!= work.markup