section.hw-work
  h1.hw-title
    span L
    span a
    span t
    span e
    span s
    span t
    span &nbsp;
    span w
    span o
    span r
    span k

  .hw-panels-open
    dl.hw-sub-container
      dt.hw-sub.hw-sub-description.hw-sub-left: .hw-sub-panel
        h3 Banjai Garden
        p Design &amp; development of the guesthouse's website
        p: strong Keywords
        ul
          li Simplicity &amp; elegance
          li Responsive &amp; fast loading
        p: strong Technic
        ul
          li Adobe Illustrator
          li Html5, Javascript &amp; NodeJs
      dd.hw-sub.hw-sub-default.hw-panel-cover: .hw-panel-cover-in
        img(src="media/images/banjai-logo.png")
      dd.hw-sub.hw-work-carrousel.hw-sub-right: .hw-sub-panel
        ul
          li: img(src="media/images/banjai-wireframe.jpg")
      dd.hw-sub-close

    dl.hw-sub-container
      dt.hw-sub.hw-sub-description.hw-sub-left: .hw-sub-panel
        h3 Nori Home
        p Logo &amp; illustrations for a company whishing to do event related accesories for the big four
        p: strong Keywords
        ul
          li festive &amp; charity
          li corporate responsability
        p: strong Technic
        ul
          li Sketchbook &amp; pen
          li Adobe Illustrator
      dd.hw-sub.hw-sub-default.hw-panel-cover: .hw-panel-cover-in
        img(src="media/images/nori.png")
      dd.hw-sub.hw-work-carrousel.hw-sub-right: .hw-sub-panel
        ul
          li: img(src="media/images/pere_noel.png")
          li: img(src="media/images/nori-skecth.jpg")
          li: img(src="media/images/nori-logo-alt.png")
      dd.hw-sub-close

    dl.hw-sub-container
      dt.hw-sub.hw-sub-description.hw-sub-left: .hw-sub-panel
        h3 Dolidhi
        p Logo for an anthropological research program of the Dolgan siberian tribe
        p: strong Keywords
        ul
          li Russia
          li Tradition &amp; Dolgan culture
        p: strong Technic
        ul
          li Sketchbook &amp; pen
          li Adobe Illustrator
      dd.hw-sub.hw-sub-default.hw-panel-cover: .hw-panel-cover-in
        img(src="media/images/dolidhi.png")
      dd.hw-sub.hw-work-carrousel.hw-sub-right: .hw-sub-panel
        ul
          li: img(src="media/images/dolidhi-logo-alt.png")
          li: img(src="media/images/dolidhi-sketch.jpg")
      dd.hw-sub-close
