section.hw-work
  h1.hw-title
    span L
    span a
    span t
    span e
    span s
    span t
    span &nbsp;
    span w
    span o
    span r
    span k

  .pages
    dl
      dt.hw-work-title Banjai Garden
      dd.hw-work-cover: img(src="media/images/banjai.jpg")
      dd.hw-work-description Description

    dl
      dt.hw-work-title Nori Home
      dd.hw-work-cover: img(src="media/images/nori.png")
      dd.hw-work-description Description
    dl
      dt.hw-work-title Dolidhi
      dd.hw-work-cover: img(src="media/images/dolidhi.png")
      dd.hw-work-description Description
