@import 'nib/positions'
@import 'nib/reset'
@import './css-config'
@import './css-mixins'
@import './projects-transitions'

.hw-projects-content
  > .hw-projects-center
    width unit($project-width, 'px')
    margin 0 auto

  h1, h2, h3, h4, h5, h6, ol, p
    crisp-font-smoothing()

  h1
    color $pink
    text-align center
    font-dark()
    font-size 4em
    padding .5em 0 .25em
    margin-bottom 0

  h2
    text-align center
    color $dark-grey
    font-weight 300
    font-size 1.5em
    padding-bottom 1em
    margin-top 0

  p
    font-size px2em(22)
    letter-spacing 0.16px
    line-height 1.5em

.hw-projects-aside,
.hw-projects-gallery
  width unit($desktop-width, 'px')
  margin 0 auto

.hw-projects-aside
  position relative

  aside
    absolute top left
    width unit(($desktop-width - $project-width) / 2 - $h-fs, 'px')
    border 1px solid $grey

  h6, ol, li, p
    margin 0
    text-align center


  h6, ol, p
    padding .5em 0

  ol, li
    padding-top 0
    list-style none

  h6:not(:first-child)
    border-top 1px solid $grey

    // &:first-child
    //   border-top none

  h6, li
    text-transform uppercase

  h6
    color $dark-grey
    font-size px2em(11)
    font-weight normal

  li, p
    font-weight black
    font-size px2em(12)
    color $black
    font-weight bold
    letter-spacing 0

  a
    color $pink

    &:hover
      color $light-pink

.hw-projects-gallery-container
  background $grey
  visibility hidden
  margin 1em 0
  projects-gallery-out()

  .{activeClass} &
    visibility visible
    projects-gallery-in()

.hw-projects-gallery
  background $black

  ul
    width 100%
    overflow auto
    white-space nowrap
    // remove white-space between images
    // http://yuilibrary.com/yui/docs/cssgrids/
    // http://davidwalsh.name/remove-whitespace-inline-block
    letter-spacing -0.31em
    text-rendering optimizespeed

  li
    display inline-block
    max-width 90%
    overflow hidden
    image-center()

.{carrouselClass} .hw-projects-gallery
  overflow hidden
  perspective 1000px
  transform-origin center center
  transform-style preserve-3d

  ul
    transform translate3d(0px,0px,0px)
    backface-visibility hidden
    transform-style preserve-3d
    overflow visible
    // so jQuery will know it's the offset parent
    position relative
    transition transform .75s ease 0s

  li
    opacity .1
    cursor pointer
    transition opacity .75s ease .75s

  .{carrouselClassSelected}
    opacity 1
    cursor inherit

