.hw-projects
  clearfix()
  position relative
  z-index 1

.hw-projects-content
  background white

.hw-projects-item
  width third()
  height px2em($panel-height)
  float left

.hw-projects-cover
  height 100%
  relative top left
  z-index 1
  iso-left()
  background white
  projects-cover-out()
  box-shadow inset 0 1px 0 0 noir(.1)
  text-align center
  cursor pointer
  perspective 1000px
  perspective-origin center center

  span, img
    backface-visibility hidden
    transition all .5s

  span
    display inline-block
    percentCenter()
    font-size 2em
    width 80%
    transform translate(-50%, -50%) rotateY(180deg)
    text-transform uppercase
    font-size 1.75em; text-transform uppercase
    letter-spacing .2em
    font-weight normal

  img
    percentCenter()
    width 80%

  .hw-projects-item:nth-child(3n + 2) &
    iso-right()
    background $grey

  .hw-projects-item:nth-child(1) &,
  .hw-projects-item:nth-child(2) &,
  .hw-projects-item:nth-child(3) &
    box-shadow inset 0 0 0 0 noir(.1)

    &:hover
      box-shadow inset 0 0 0 px2em($hover-width) $hover-color

  &:hover
    box-shadow inset 0 0 0 px2em($hover-width) $hover-color

  &:hover,
  &.{projectCoverLoad}
  &:hover.{projectCoverLoad}
    img
      transform translate(-50%, -50%) rotateY(180deg)

    span
      transform translate(-50%, -50%) rotateY(0deg)

  .hw-projects-item:nth-child(3n + 2).{activeClass} &,
  .{activeClass} &
    projects-cover-in()
    box-shadow inset 0 0 0 0 $hover-color
    background $dark-grey
    iso-reset()
    height 150%
    top -25%
    z-index 2

  .hw-projects-item:nth-child(3n + 1).{activeClass} &
    left 100%

  .hw-projects-item:nth-child(3n + 3).{activeClass} &
    left -100%

.hw-projects-content-container
  fixed top left
  right 100%; bottom 100%
  perspective 1000px
  z-index 9
  overflow hidden
  perspective-origin center center
  projects-container-out()

  &::after,
  .hw-projects-content
    absolute top left
    bottom 0; right 0
    transform-style preserve-3d
    backface-visibility hidden
    projects-content-out()

  // Here
  .hw-projects-content
    overflow hidden
    transform scale3d(.1, .1, .1) rotateY(180deg)
    opacity .5

  &::after
    content ''
    background $darkest-grey
    transform scale3d(.1, .1, .1)  rotateY(0deg)

.{activeClass} .hw-projects-content-container
  right 0%; bottom 0%
  projects-container-in()

  &::after
    transform scale3d(1, 1, 1)  rotateY(180deg)

  &::after,
  .hw-projects-content
    projects-content-in()

  .hw-projects-content
    overflow auto
    opacity 1
    transform scale3d(1, 1, 1) rotateY(0deg)

.hw-projects-close
  fixed top -9em right -9em
  width 2em; height @width
  visibility hidden
  opacity 0
  projects-close-button-out()
  background $light-grey
  text-indent -1000em
  overflow hidden

  &::after
    percentCenter()
    color $dark-grey
    font-size 2em
    content '×'
    font-weight bold
    text-indent 0
    width: 1em;
    height: 1em;
    text-align: center;
    line-height: .75em;

  .{activeClass} &
    opacity 1
    fixed top 1em right 1em
    visibility visible
    projects-close-button-in()

// media-tablet()

// media-query-end()

media-small-mobile()

.hw-projects-item.{activeClass}

  &:nth-child(3n + 2) .hw-projects-cover,
  & .hw-projects-cover
    height 100%
    top 0

  &:nth-child(3n + 1) .hw-projects-cover,
  &:nth-child(3n + 3) .hw-projects-cover
    left 0

.hw-projects-item
  width auto
  float none
  height px2em($mobile-cover-height)


.hw-projects-cover,
.hw-projects-item:nth-child(3n + 2) .hw-projects-cover
  iso-reset()

media-query-end()
