@import './css-vars.scss';
@import './scss-vars.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  // Prevent font scaling in landscape while allowing user zoom
  -webkit-text-size-adjust: 100%;
  // http://markdotto.com/2018/02/07/github-system-fonts/
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  line-height: 1.5;
  font-size: 100%;
  background: var(--c-background);
  color: var(--c-text);

  @media #{$mq-medium} {
    // base font size to 18px
    // • have to put in there and not in scss-vars
    //   to avoid  compilation errors
    font-size: percent(18/16);
  }
}
html,
body {
  padding: 0;
}
body {
  max-width: 1600px;
  margin: 0 auto;
}
// prevent zooming on double-tap
// https://stackoverflow.com/questions/46167604/iphone-html-disable-double-tap-to-zoom
button {
  touch-action: manipulation;
}
// accord native elements to website style
button,
input,
textarea,
select {
  font: inherit;
}
a {
  color: currentColor;
  text-decoration-color: var(--c-accent);

  &:hover {
    color: var(--c-accent);
  }
}

////////
// ICONS
////////

.icon {
  fill: currentColor;
}
// techs logos
.logo {
  background: var(--c-primary);
  fill: var(--c-primary-darker);
  transition: background 0.25s, fill 0.25s;

  path {
    transition: fill 0.25s;
  }
  a:hover & {
    background: var(--c-accent-lighter);
    fill: var(--c-accent);
  }
  &-path-light {
    fill: var(--c-primary-lighter);
    a:hover & {
      fill: var(--c-accent-lightest);
    }
  }
  &-path-white {
    fill: var(--c-primary-lightest);
  }
  &-path-background {
    fill: var(--c-primary);
    a:hover & {
      fill: var(--c-accent-lighter);
    }
  }
}
