.hw-projects
  clearfix()
  position relative
  z-index 1

.hw-projects-content
  background white

.hw-projects-item
  width third()
  height px2em($panel-height)
  float left
  position relative

.hw-projects-cover
  height 100%
  relative top left
  z-index 1
  iso-left()
  background white
  box-shadow inset 0 1px 0 0 noir(.1)
  text-align center
  cursor pointer
  perspective 1000px
  perspective-origin center center
  backface-visibility hidden
  transition  box-shadow $hover-transition ease 0s

  .hw-projects-name, img
    backface-visibility hidden
    transition all .5s

  .hw-projects-name
    display inline-block
    percentCenter()
    font-size 2em
    width 80%
    transform translate(-50%, -50%) rotateY(180deg)
    text-transform uppercase
    font-size 1.75em; text-transform uppercase
    letter-spacing .2em
    font-weight normal
    color $black

    &:hover
      color $black

  img
    percentCenter()
    width 80%

  .hw-projects-item:nth-child(3n + 2) &
    iso-right()
    background $grey

  .hw-projects-item:nth-child(1) &,
  .hw-projects-item:nth-child(2) &,
  .hw-projects-item:nth-child(3) &
    box-shadow inset 0 0 0 0 noir(.1)

    .hover &:hover
      box-shadow inset 0 0 0 px2em($hover-width) $hover-color

  .hover &:hover
    box-shadow inset 0 0 0 px2em($hover-width) $hover-color

  .hover &:hover,
  &.{projectCoverLoad},
  .hover &:hover.{projectCoverLoad}
    img
      transform translate(-50%, -50%) rotateY(180deg)

    .hw-projects-name
      transform translate(-50%, -50%) rotateY(0deg)

.hw-projects-content-container
  fixed top left
  // This is for some performance issues…
  // http://benfrain.com/easy-css-fix-fixed-positioning-android-2-2-2-3/
  backface-visibility hidden
  right 100%; bottom 100%
  perspective 1000px
  z-index 9
  overflow hidden
  perspective-origin center center

  .hw-projects-content
    absolute top left
    bottom 0; right 0
    transform-style preserve-3d
    backface-visibility hidden
    overflow auto
    transform rotateY(180deg)

.hw-projects-close
  fixed top -9em right -9em
  width 2em; height @width
  visibility hidden
  opacity 0
  projects-close-button-out()
  background $light-grey
  color $dark-grey
  text-indent -1000em
  overflow hidden

  &:hover
    background $blue
    color white

  &::after
    percentCenter()
    font-size 2em
    content '×'
    font-weight bold
    text-indent 0
    width 1em
    height 1em
    text-align center
    line-height .75em

  .{activeClass} &
    opacity 1
    fixed top 1em right 1em
    visibility visible
    projects-close-button-in()

// ———————————————————
// @media Big Mobile
// ———————————————————
media-big-mobile()

.hw-projects-item
  width 50%

.hw-projects-item:nth-child(3) .hw-projects-cover
  box-shadow inset 0 1px 0 0 noir(.1)

.hw-projects-item:nth-child(2n)

  .hw-projects-cover
    iso-right()
    background $grey

.hw-projects-item:nth-child(2n + 1)

  .hw-projects-cover
    iso-left()
    background white

media-query-end()

// ———————————————————
// @media Small Mobile
// ———————————————————
media-small-mobile()

.hw-projects-item:nth-child(2n),
.hw-projects-item:nth-child(2n + 1)
  width auto
  float none
  height px2em($mobile-cover-height)

  .hw-projects-cover
    background white
    iso-reset()
    box-shadow inset 0 1px 0 0 noir(.1)

media-query-end()
