// Timing configuration
t-cover   = .5s
t-content = .5s
t-between = 0s

// Delay computing
d-cover-in    = (t-cover + t-between) * 1
d-content-in  = d-cover-in + (t-content + t-between) * 1
d-content-out = (t-content + t-between) * 2

d-full        = d-cover-in + d-content-out + t-between

// gallery
projects-gallery-in()
  transition  visibility  0s            ease    d-cover-in

projects-gallery-out()
  transition  visibility  0s            ease    0s

// Close button
projects-close-button-in()
  transition  visibility  0s            ease    d-content-in*2,
              top         0s            ease    d-content-in*2,
              right       0s            ease    d-content-in*2,
              opacity     t-content     ease    d-content-in*2


projects-close-button-out()
  transition  visibility  0s            ease    t-content,
              top         0s            ease    t-content,
              right       0s            ease    t-content,
              opacity     t-content     ease    0s

// Loading spinner
@keyframes spinner {
  0% {    clip: rect(0, 30px, 2px, 0); }
  25% {   clip: rect(0, 30px, 30px, 28px); }
  50% {   clip: rect(28px, 30px, 30px, 0); }
  75% {   clip: rect(0, 2px, 30px, 0); }
  100% {  clip: rect(0, 30px, 2px, 0); }
}
