smooth-chrome-scroll()
  // http://help.dimsemenov.com/discussions/problems/1153-chrome-scrolling-choppylags-when-a-lot-of-images-in-slideshow-plus-position-fixed
  // Fix choppy lag on chrome
  transform translateZ(0)
  backface-visibility hidden

.hw-projects-content-body,
.hw-projects-content,
.hw-projects-content-xhr
  > .hw-projects-center
    width unit($project-width, 'px')
    margin 0 auto

.hw-projects-content-body
  animation bodyIn .75s
  animation-fill-mode both

.hw-projects-content-xhr
  transition opacity 1s

.hw-projects-content
  &::after
    square-spinner($pink)
    visibility hidden
    opacity 0
    width 0; height 0
    transition opacity .25s, width 0s ease .25s, height 0s ease  .25s, visibility 0s ease .25s

  &.{projectContentLoading}::after
    width 30px; height @width
    visibility visible
    opacity 1
    transition opacity .25s, width 0s, height 0s, visibility 0s

  h1, h2, h3, h4, h5, h6, ol, p
    crisp-font-smoothing()
    font-weight 300

  h1
    color $pink
    text-align center
    font-dark()
    font-size 4em
    padding .5em 0 .25em
    margin-bottom 0

  // Title baseline
  h2
    text-align center
    color $dark-grey
    font-size 1.5em
    padding-bottom 1em
    margin-top 0

  // Gallery title
  h3
    font-size 4em
    text-align center
    font-dark()
    color $dark-grey
    margin-bottom .5em

  // Paragraph title
  h4
    font-size 1.5em
    text-transform uppercase
    color darken($grey, 10%)
    padding .5em 0

  p
    font-size px2em(22)
    letter-spacing 0.16px
    line-height 1.5em
    padding 0 0 1em

  a
    color $black
    background-image linear-gradient(to bottom,#fff 50%,#666665 50%)
    background-repeat repeat-x
    background-size 2px 2px
    background-position 0 24px

    &:hover
      color $pink
      background-image linear-gradient(to bottom,#fff 50%,$pink 50%)

// Summary
.hw-projects-aside-container
  position relative

  .hw-projects-aside
    absolute top left
    width unit(($desktop-width - $project-width) / 2 - $h-fs, 'px')
    border 1px solid $grey

  h6, ol, li, p
    margin 0
    text-align center
    font-weight 300

  h6, ol, p
    padding .5em 0

  ol, li
    padding-top 0
    list-style none

  h6:not(:first-child)
    border-top 1px solid $grey

  h6, li
    text-transform uppercase

  h6
    color $dark-grey
    font-size px2em(12)

  li, p
    font-weight 300
    font-size px2em(14)
    color $black
    font-weight bold
    letter-spacing 0

  a
    color $pink
    font-weight 300
    font-size 1em

    &:hover
      text-decoration underline

// ———————————————————
// @media Tablet
// ———————————————————
media-tablet()

.hw-projects-aside-container
  width $project-width
  position static

  .hw-projects-aside
    width auto
    position static
    padding .5em
    margin-bottom 1em
    background $light-grey
    clearfix()

  .hw-projects-aside,
  h6:not(:first-child)
    border none

  h6:not(:first-child)
    padding-left 1em

  h6
    padding-right .5em

  h6, p, ol, li
    float left
    padding-top 0; padding-bottom 0
    line-height 1em

  li
    font-weight normal
    padding-right .25em
    text-transform lowercase

    &:not(:last-child)::after
      content ','

  h6
    // compensating the font-size difference…
    padding-top .15em

.hw-projects-content h1
  margin-top 0

media-query-end()

// ———————————————————
// @media Big Mobile
// ———————————————————

media-big-mobile()

.hw-projects-content
  padding 0 1em

  h1
    font-size 2.5em

  h2
    font-size 1.25em

  h3
    font-size 2em

  p
    font-size 1em

.hw-projects-content-body > .hw-projects-center,
.hw-projects-content-xhr > .hw-projects-center,
.hw-projects-aside-container
  width auto

.hw-projects-aside h6 ~ h6
  clear left

.hw-projects-aside h6:not(:first-child)
  padding-left 0

media-query-end()

@keyframes bodyIn {
  from {  opacity: 0  }
  to {    opacity: 1  }
}
