// Timing configuration
t-cover   = .5s
t-content = .5s
t-between = 0s

// Delay computing
d-cover-in    = (t-cover + t-between) * 1
d-content-in  = d-cover-in + (t-content + t-between) * 1
d-content-out = (t-content + t-between) * 2

d-full        = d-cover-in + d-content-out + t-between

// Cover panel
projects-cover-in()
  transition  transform   t-cover       ease    0s,
              height      t-cover       ease    0s,
              z-index     0s            ease    0s,
              top         t-cover       ease    0s,
              background  t-cover       ease    0s,
              left        t-cover       ease    0s,
              box-shadow  $hover-transition ease 0s

projects-cover-out()
  transition  transform   t-cover       ease    d-content-out,
              height      t-cover       ease    d-content-out,
              z-index     0s            ease    d-full,
              top         t-cover       ease    d-content-out,
              background  t-cover       ease    d-content-out,
              left        t-cover       ease    d-content-out,
              box-shadow  $hover-transition ease 0s

// // Container panel
// projects-container-in()
//   transition  all         0s            ease    d-cover-in

// projects-container-out()
//   transition  all         0s            ease    d-content-out

// // Content panel
// projects-content-in()
//   transition  transform   t-content*2   ease    d-cover-in,
//               border      t-content     ease    d-content-in,
//               opacity     t-content     ease    d-cover-in

// projects-content-out()
//   transition  transform   t-content*2   ease    0s,
//               border      t-content*2   ease    0s,
//               opacity     t-content     ease    t-content

// gallery
projects-gallery-in()
  transition  visibility  0s            ease    d-cover-in

projects-gallery-out()
  transition  visibility  0s            ease    0s

// Close button
projects-close-button-in()
  transition  visibility  0s            ease    d-content-in*2,
              top         0s            ease    d-content-in*2,
              right       0s            ease    d-content-in*2,
              opacity     t-content     ease    d-content-in*2


projects-close-button-out()
  transition  visibility  0s            ease    t-content,
              top         0s            ease    t-content,
              right       0s            ease    t-content,
              opacity     t-content     ease    0s

// // transition witness
// projects-witness-in()
//   transition  visibility  0.1s          ease    d-content-in

// projects-witness-out()
//   transition  visibility  0.1s          ease    d-content-out

// Loading spinner
@keyframes spinner {
  0% {    clip: rect(0, 30px, 2px, 0); }
  25% {   clip: rect(0, 30px, 30px, 28px); }
  50% {   clip: rect(28px, 30px, 30px, 0); }
  75% {   clip: rect(0, 2px, 30px, 0); }
  100% {  clip: rect(0, 30px, 2px, 0); }
}
