// Timing configuration
t-cover   = .5s
t-content = .5s
t-between = 0s

// Delay computing
d-cover-in    = (t-cover + t-between) * 1
d-content-in  = d-cover-in + (t-content + t-between) * 1
d-content-out = (t-content + t-between) * 2

d-full        = d-cover-in + d-content-out + t-between

// Close button
projects-close-button-in()
  transition  visibility  0s            ease    d-content-in*2,
              top         0s            ease    d-content-in*2,
              right       0s            ease    d-content-in*2,
              opacity     t-content     ease    d-content-in*2


projects-close-button-out()
  transition  visibility  0s            ease    t-content,
              top         0s            ease    t-content,
              right       0s            ease    t-content,
              opacity     t-content     ease    0s
