@import './css-config'
@import 'hstrap/mixins/general'
@import 'hstrap/mixins/ie'


h-matrix(a, c, b, d)
  /*!
  *  | sx  0  0 |   | x|
  *  |  0 sy  0 | • | y|
  *  |  0  0  1 |   | 1|
  *
  *  | sx  0  0  0 |   | x|
  *  |  0 sy  0  0 | • | y|
  *  |  0  0 sz  0 |   | 1|
  *  |  0  0  0  1 |   | 1|
  *
  */

  transform matrix(a, c, b, d, 0, 0)
  // no matrix 3d as it fuck up everything :P
  // Should be because of no perspective?
  // transform matrix3d( a, c, 0, 0,
  //                     b, d, 0, 0,
  //                     0, 0, 0, 0,
  //                     0, 0, 0, 1)

iso-left()
  transform skewY(-26.5deg)
  // h-matrix(1, -0.5, 0, 1)

iso-right()
  transform skewY(26.5deg)
  // h-matrix(1, 0.5, 0, 1)

iso-reset()
  transform skewY(0deg)
  // h-matrix(1, 0, 0, 1)

hide()
  visibility hidden

  .js &
    visibility visible
    display none

show()
  visibility visible

  .js &
    display inherit


third(q = 1)
  (100%/3) * q

font-dark()
  font-family "hiso-dark", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  crisp-font-smoothing()
  font-weight normal

font-bright()
  font-family "hiso-bright", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  crisp-font-smoothing()
  font-weight normal

font-plain()
  font-family "hiso-plain", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  crisp-font-smoothing()
  font-weight normal

image-center(selector = 'img')
  // CSS centering
  // !! Parent should have text-align: center
  // http://stackoverflow.com/questions/18247356/how-to-center-crop-an-image-img-in-fluid-width-container
  &
    text-align center

    & {selector}
      position relative
      left 100%
      margin-left -200%

// TODO use shared var for the sizes
media-tablet()
  unquote("@media screen and (max-width: " + $tablet-width + ") {")

media-big-mobile()
  unquote("@media screen and (max-width: " + 768px + ") {")

media-small-mobile()
  unquote("@media screen and (max-width: " + $mobile-width + ") {")

media-query-end()
  unquote("}")
