@import 'hstrap/mixins/general'

support-for-ie        = false

// TODO use shared var for the sizes
$desktop-width        = 1080
$project-width        = 700
$tablet-width         = unit( $desktop-width - 1, 'px')
$mobile-width         = unit(479, 'px')
$mobile-cover-height  = 220

$panel-height         = 312
$panel-fs             = 21
$panel-padding        = px2em(22, $panel-fs)

// Hover effect
$hover-color          = $pink
$hover-width          = 8
$hover-transition     = .25s

// Hstrap config
$buttons-primary-light  = $light-blue
$buttons-primary-medium = $blue
$buttons-primary-dark   = $blue
// $buttons-depth          = 4px
// $components-background  = #EEE
// $input-invalid-color    = red
// $input-focus            = red
