.hw-menu-input,
.hw-menu-input-label
  display none

.hw-main-title
  font-dark()
  background white
  color $black
  font-size 3em; font-weight normal
  text-align center
  margin 0
  padding .5em 0

  a
    display inline-block
    color $pink
    crisp-font-smoothing()
    line-height 1em
    padding 0 0 .15em .15em
    border 2px solid transparent

    &:hover
      border-color $pink

    &:active
      color $blue
      border-color $blue

.hw-main-navigation
  position relative

  ul, li
    reset-box-model()

  ul
    absolute top 2em right
    overflow hidden
    text-align right

  li
    display inline-block
    margin 0 0 0 .75em

  a
    display block
    text-align center

.hw-splash
  padding 3em 0 0
  clearfix()

  h2,
  .hw-splah-description
    float left
    width 50%;

  h2, p
    margin 0
    text-align left
    box-sizing border-box

  h2
    font-weight 300
    font-size px2em(40)
    color $black
    padding-right px2em(10, 40)

    strong
      font-weight 300
      white-space nowrap

  p
    font-size px2em(21)
    padding-left px2em(10, 21)
    margin-bottom 1em
    line-height 1.25em


// —————————————
// @media tablet
// —————————————

media-tablet()

.main-content
  width auto

.hw-title
  font-size 2.25em
  relative top -.25em

// Header
.hw-main-title
  right 0
  text-align center

.hw-main-navigation
  width auto
  right 1em

// Splash
.hw-splash
  padding 1em 1em 0

.hw-splah-description
  z-index 1

  p
    background none
    height auto
    line-height 130%
    padding-bottom 1em


media-query-end()

// ———————————————————
// @media big mobile
// ———————————————————
media-big-mobile()

// Splash
.hw-splash
  padding-bottom  1em

  h2
    font-size px2em(30)
    padding-bottom .75em

  .hw-splah-description,
  h2,
  p
    float none
    width auto
    padding-left 0
    padding-right 0
    text-align center

  p
    line-height 140%
    padding-bottom 0
    margin-bottom 0

// menu
.hw-menu-input-label
  display block
  absolute top .75em left .3em
  z-index 9
  cursor pointer

.hw-main-navigation
  right auto
  z-index 5

  ul
    padding 3.5em 0 0
    top 0
    left 0
    right auto
    background $dark-grey
    width 3em
    transform translate3d(-100%, 0, 0)
    transition transform .25s

  li
    display block
    padding .25em 0

  a:hover .svgicon
    fill white

.hw-menu-input:checked ~
  .hw-menu-input-label
    .svgicon
      fill $darkest-grey

    &:hover .svgicon
      fill $light-grey

  .main-content .hw-main-navigation ul
    transform translate3d(0, 0, 0)


media-query-end()
// ———————————————————
// @media small mobile
// ———————————————————
media-small-mobile()

// Splash
.hw-splash
  h2, strong
    font-weight 400

  h2,
  .hw-splah-description,
  p
    text-align left

.hw-splah-description p
  display block
  width auto; height auto; min-height 0
  padding-bottom 1em
  line-height 140%

media-query-end()
