.page {
  &--projects,
  &--tech {
    h1 {
      text-align: left;
      text-transform: uppercase;
      margin: 0;
      color: var(--c-primary-lightest);
      background: var(--c-primary-darker);
      padding: var(--half-gutter) var(--gutter) var(--half-gutter)
        var(--half-gutter);
      display: inline-block;
    }
  }
}

.npm-module,
.web-app {
  max-width: 1024px;
  margin: 0 auto;

  header {
    text-align: center;
  }

  h2 {
    color: var(--c-primary-darker);
  }
}

.npm-module {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--gutter);

  &__header {
    grid-column: 1 / span 2;
  }
}

.web-app {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--gutter);

  h2 {
    grid-column: 1 / span 3;
  }
  h3 {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.25rem;
  }
  svg {
    display: block;
    margin: 0 auto;
  }
}
