head
  //- Google referencing
  title Hiswe – Graphism &amp; Front-End developpment
  meta(name="description", content="Yannick 'Hiswe' Aïvayan — Graphic Design and Front-End development")
  meta(name="keywords", content="freelance, graphism, graphic design, Front-End development, javascascript, css, html, UX design, ergonomy")
  meta(name="robots", content="index")
  meta(name="REVISIT-AFTER", content="7 days")
  meta(http-equiv="Content-Language", content="en")

  if LIVERELOAD
    script(src='http://localhost:35729/livereload.js')
  //- Mobile
  meta(name="viewport",content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1.0, user-scalable=0")
  meta(name="apple-mobile-web-app-capable",content="yes")
  //- CSS
  if env == 'production'
    link(rel='stylesheet', href="#{assets['index.min.css']}")
  else
    link(rel='stylesheet', href="index.css")

  link(rel='icon', href='media/favicon.png', type='image/png')
