head
  //- Google referencing
  title Hiswe – Graphism &amp; Front-End developpment
  meta(http-equiv="Content-Language", content="en")
  //- Google translate
  //- Mobile
  meta(name="viewport",content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1.0, user-scalable=0")
  meta(name="apple-mobile-web-app-capable",content="yes")
  //- CSS
  link(rel='stylesheet', href='app.css')
  link(rel='icon', href='media/favicon.png', type='image/png')
