:root {
  // SIZES
  --gutter: 1rem;
  --half-gutter: calc(var(--gutter) * 0.5);
  --two-gutter: calc(var(--gutter) * 2);
  --grid-size: #{100 / 16 * 1vw};
  // font-size is defined in global.scss
  --gutter: var(--grid-size);

  --vertical-space: 1rem;
  //
  --nav-height: 70px;

  @media #{$mq-medium} {
    --vertical-space: 1.25rem;
    --grid-size: #{100 / 22 * 1vw};
  }
  @media #{$mq-big} {
    --gutter: 1.5rem;
    --vertical-space: 2.5rem;
    --grid-size: 35px;
  }

  // COLORS
  --c-primary-lightest: hsl(200, 46%, 95%);
  --c-primary-lighter: hsl(200, 47%, 82%);
  --c-primary: hsl(200, 46%, 66%);
  --c-primary-darker: hsl(200, 47%, 41%);
  --c-primary-darkest-hue: 240;
  --c-primary-darkest-saturation: 11%;
  --c-primary-darkest-highlight: hsl(240, 11%, 35%);
  --c-primary-darkest: hsl(240, 11%, 30%);
  --c-primary-black: hsl(240, 11%, 15%);
  --c-primary-contrast: white;
  --c-accent: hsl(332, 100%, 50%);
  --c-accent-hue: 332;
  --c-accent-saturation: 100%;
  --c-accent-light: 50%;
  --c-accent-lighter: hsl(332, 100%, 90%);
  --c-accent-lightest: hsl(332, 100%, 95%);
  --c-text: hsl(240, 11%, 30%);
  --c-text-lighter: hsl(0, 0%, 40%);

  --c-background: var(--c-primary-lightest);
}
