@mixin hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin grid {
  display: grid;
  grid-template-columns: repeat(16, var(--grid-size));
  grid-auto-rows: var(--grid-size);
}

@function grid-size($size) {
  @return calc(var(--grid-size) * #{$size});
}
