$big-stop: 1024px;
$mq-small: '(max-width: #{$big-stop - 1px})';
$mq-big: '(min-width: #{$big-stop})';

$grid: '(display: grid)';
$contents: '(display: contents)';

$full-grid-support: '#{$grid} and #{$contents}';
$partial-grid-support: '#{$grid}';
