@import 'nib/positions'
@import 'hstrap/mixins/general'
@import './../css-config'
@import './../css-mixins'
@import './../panels/panel-transitions'

// Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
@media only screen and (max-width: 479px)
  if debug()
    html::before
      content "479"

  body
    background $dark-gray
    padding-top 0

  .main-content
    transition padding .5s

    .{activeBody} &
      padding-bottom 36em

  .hw-main-title
    position relative; z-index 2
    padding-bottom .5em

  .hw-main-title,
  .hw-title
    margin 0; top auto
    text-align center
    position relative
    width auto

  .hw-title
    text-align center
    font-size 2.75em
    display block
    padding  1em 0 .25em

  .hw-main-navigation
    width auto
    fixed left bottom
    top auto
    padding-bottom 0

    ul
      clearfix()
      margin-top 0

    li
      width third()
      float left
      // TODO find a way to remove the important
      background noir(.75) !important

      a
        padding .5em 0

  .hw-main-title,
  .hw-main-title span,
  .hw-title,
  .hw-title span,
  .hw-panels > :nth-child(n),
  .hw-sub-container .hw-sub.hw-sub-default,
  .hw-sub-container .hw-sub.hw-sub-default .hicon
    iso-reset()

  .hw-panels > *,
  .hw-sub-container
    display block
    width auto

  .hw-services-title p
      margin 0

  .hw-services .hw-services-title
    padding 0

  // Splash
  .hw-splash
    padding 0 0 1em
    background $pink

    h2
      font-size 2em
      padding .75em 0 5em

  .hw-splah-description p,
  .hw-splah-description p + p
    display block
    width auto; height auto; min-height auto
    padding-bottom 1em
    line-height 140%

  .hw-splah-description p + p
    display none

  // panels animation
  .hw-sub-close
    top .5em
    right .5em
    z-index 3

  $$height = px2em(220)

  .hw-sub-container
    height $$height
    background $dark-grey

    .hw-sub,
    .hw-sub-close
      visibility hidden

    .hw-sub-default,
    .hw-sub-left,
    .hw-sub-right
      absolute top left
      height $$height

    .hw-sub-default
      visibility visible
      default-out()

      .hicon
        icon-out()
        opacity 1

      &::after
        mobile-stem-out()
        $$stem-size = 1em
        stem("top", $dark-grey, $$stem-size)
        absolute bottom 0 left 50%
        margin-left -($$stem-size/2)
        visibility hidden

    .hw-sub-left,
    .hw-sub-right
      transform rotateX(-90deg)
      transform-origin top center

    .hw-sub-left
      mobile-left-out()

    .hw-sub-right
      mobile-right-out()
      background $grey

    &.{activeClass}
      .hw-sub-default
        default-in()
        height ($$height / 2)
        background $blue

        .hicon
          icon-in()
          font-size 0.1em
          opacity 0

        &::after
          mobile-stem-in()
          visibility visible

      .hw-sub-close,
      .hw-sub-left,
      .hw-sub-right
        z-index 10
        visibility visible
        transform rotateX(0)

      .hw-sub-left
        top ($$height / 2)
        mobile-left-in()

      .hw-sub-right
        top ($$height * 1.5)
        height ($$height * 2)
        mobile-right-in()

      // .hw-sub-left
      //   top 0; bottom 50%

      // .hw-sub-right
      //   top 50%; bottom 0
