@import '../css-config'
@import '../css-mixins'

// Smaller than standard 960 (devices and browsers)
@media only screen and (max-width: 959px)
  if debug()
    html::before
      fixed top left
      content '960'
      height 1em
      background noir()
      padding .5em 2em
      color white
      z-index 10

  html
    padding 0

  body
    padding-top px2em($main-border)
    border 0

  .main-content
    width auto

  .hw-title
    font-size 2.25em;
    top -4em

  .hw-main-title,
  .hw-main-title span,
  .hw-main-navigation .hw-panels-pink li,
  .hw-splah-description .hw-hire,
  .hw-splah-description p,
  .hw-splah-description p + p
    margin 0
    iso-reset()

  .hw-main-navigation
    width third(2)

  // Splash
  .hw-splash
    padding-top 4em

    h2
      position relative; z-index 2
      margin 0; padding 0 0 4em

    .hw-splah-description
      padding 0; margin 0

  .hw-splah-description
    z-index 1

    p,
    p + p
      background none
      height auto

    p
      line-height 130%
      padding-bottom 1em

    p + p
      text-align right

    .hw-hire
      float none
      display block
      margin 0 auto
      width 65%

      &:before,
      &:after
        display none

  .hw-portrait
    width auto
    right 0
    z-index -1
    iso-reset()
    border 0

    object
      iso-reset()

  .hw-services h6
    letter-spacing 0.05em

  .hw-sub-description .hw-sub-panel
    font-size .85em
